courses/n8n/assets/workflows/m4-4-ai-secretary-migration.json
{
  "name": "M4-4 AI 秘書遷移（從 Make 重建）",
  "meta": {
    "instanceId": "course-template-m4-4",
    "_courseNote": "本檔為《AI 資料工廠》M4-4 教學範本。匯入後必做：(1) 重新指定所有節點的 credentials；(2) 修改 Telegram chatId 與 Gmail 收件人為自己的；(3) 啟用 Workflow（預設 active=false）；(4) Test Step 逐節點跑通。對應教案：_lessons/n8n/m4-4-ai-secretary-migration.md",
    "_designStatus": "experimental-template-pending-validation",
    "_codexReviewIds": ["63c0b5f7", "348da75a"]
  },
  "nodes": [
    {
      "parameters": {
        "content": "## M4-4 AI 秘書遷移範本\n\n**匯入後 4 件必做事**：\n\n1. 每個節點點開重新指定 credentials\n   - Gmail Trigger / Gmail Send → Gmail OAuth2\n   - HTTP Gemini → Generic Auth (API key)\n   - Telegram → Bot API token\n   - Google Docs → Google Docs OAuth2\n\n2. 改個人化欄位\n   - Telegram Chat ID（在節點面板）\n   - Gmail 收件人 email\n   - ntfy.sh topic（避免跟其他學員撞用）\n   - Google Docs Folder ID\n\n3. 設定 Trigger Polling\n   - 預設 15 分鐘輪詢\n   - 第一次測試建議改 1 分鐘加速驗證\n\n4. 驗證流程\n   - 對 Gmail 發 1-2 封測試信\n   - Execute Workflow\n   - 檢查 6 點驗收（見講義頁）",
        "height": 480,
        "width": 380
      },
      "id": "node-sticky-1",
      "name": "📌 匯入後必做",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, 0]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute",
              "value": 15
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {
          "downloadAttachments": false,
          "labelIds": []
        }
      },
      "id": "node-gmail-trigger",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2 (replace me)"
        }
      },
      "notes": "對應 Make: google-email:executeEmailSearchQuery\n與 Make 差異: n8n 是 Polling Trigger，Make 是 Action 型\n設定: Read Status=Unread, Limit 由 Aggregate 後處理\n資料形狀: textPlain（Make 是 fullTextBody）"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "id"
            },
            {
              "fieldToAggregate": "subject"
            },
            {
              "fieldToAggregate": "from"
            },
            {
              "fieldToAggregate": "textPlain"
            }
          ]
        },
        "options": {
          "mergeLists": false
        }
      },
      "id": "node-aggregate",
      "name": "Aggregate（5 items → 1 array）",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [460, 300],
      "notes": "對應 Make: builtin:BasicAggregator\n關鍵: 把多 items 合成 1 array 餵 Gemini，否則 AI 會跑 N 次"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{ $credentials.geminiApiKey }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"text\": \"<Role>你現在是我的「全能數位秘書」。你的任務是分析郵件，並將結果精確地填入「四個功能分區」的 JSON 結構中。</Role>\\n\\n<Task>分析 <Source_Emails> 裡的每一封信，並為每封信生成以下 10 個欄位的指令：\\n1. routing (開關區): to_tg/to_email/to_doc 三個 boolean。\\n2. meta (情報區): priority 1-5 / category / sentiment。\\n3. payloads (文案區): tg_brief 30字內 / email_report / doc_archive。\\n4. action (溯源區): source_link 拼接 https://mail.google.com/mail/u/0/#all/{id} / sender_info 格式 \\\\\\\"姓名 <信箱>\\\\\\\"。</Task>\\n\\n<Output_Rules>\\n1. 僅輸出純 JSON 字符串。\\n2. 嚴禁使用 ```json``` 標籤。\\n3. 必須以 { 開始、} 結束。\\n4. 統一使用繁體中文（台灣）。\\n5. 所有 boolean 必為 JSON 原生 true/false 不可加引號。\\n</Output_Rules>\\n\\n<Schema_Reference>\\n{\\\"tasks\\\":[{\\\"routing\\\":{\\\"to_tg\\\":bool,\\\"to_email\\\":bool,\\\"to_doc\\\":bool},\\\"meta\\\":{\\\"priority\\\":1-5,\\\"category\\\":\\\"string\\\",\\\"sentiment\\\":\\\"string\\\"},\\\"payloads\\\":{\\\"tg_brief\\\":\\\"string\\\",\\\"email_report\\\":\\\"string\\\",\\\"doc_archive\\\":\\\"string\\\"},\\\"action\\\":{\\\"source_link\\\":\\\"string\\\",\\\"sender_info\\\":\\\"string\\\"}}]}\\n</Schema_Reference>\\n\\n<Source_Emails>\\n{{ JSON.stringify($json) }}\\n</Source_Emails>\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "node-gemini",
      "name": "HTTP Gemini 2.5 Flash",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpCustomAuth": {
          "id": "REPLACE_WITH_YOUR_GEMINI_API_KEY_CRED_ID",
          "name": "Gemini API Key (replace me)"
        }
      },
      "notes": "對應 Make: gemini-ai:createACompletionGeminiPro\n刻意不用 n8n 內建 Gemini node — HTTP 直打更可控\nOn Error: Continue On Fail 對應 Make onerror=Ignore\nFree Tier 配額: 15 RPM / 1M tokens/day（會變，請查官方）"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// 對應 Make: json:ParseJSON + UDT\n// 與 Make 差異: 沒有 friendly UI，所有防禦寫進 Code\n\nconst raw = $input.first().json.candidates?.[0]?.content?.parts?.[0]?.text || '';\n\nlet parsed;\ntry {\n  // 容錯：去掉可能的 ```json 包裹（雖然 prompt 已禁，但保險）\n  const cleaned = raw.replace(/```json\\s*/i, '').replace(/```\\s*$/, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  return [{ json: { tasks: [], _error: 'JSON parse failed', _raw: raw } }];\n}\n\n// 防禦：tasks 必為 array\nif (!Array.isArray(parsed.tasks)) {\n  return [{ json: { tasks: [], _error: 'tasks not array', _parsed: parsed } }];\n}\n\n// 防禦：強制 boolean 轉型（避免 LLM 回字串 \"true\"）\nparsed.tasks.forEach(t => {\n  if (t.routing) {\n    Object.keys(t.routing).forEach(k => {\n      t.routing[k] = t.routing[k] === true || t.routing[k] === 'true';\n    });\n  }\n});\n\nreturn [{ json: parsed }];"
      },
      "id": "node-code-parse",
      "name": "Code: Parse AI JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "onError": "continueRegularOutput",
      "notes": "對應 Make: JSON Parse + UDT\n對等度 70% — Make 有 GUI schema，n8n 要寫 Code\n含 3 層防禦: try-catch JSON.parse / array 檢查 / boolean 強制轉型"
    },
    {
      "parameters": {
        "fieldToSplitOut": "tasks",
        "options": {}
      },
      "id": "node-split-out",
      "name": "Split Out: tasks",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1120, 300],
      "notes": "對應 Make: builtin:BasicFeeder\n對等度 95% — 心智模型幾乎一致"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.routing.to_tg }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-tg",
      "name": "IF: to_tg=true",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 60],
      "notes": "對應 Make Router 第 1 路 + filter\n4 個 IF 並排（不是 Switch！）"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.routing.to_email }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-email",
      "name": "IF: to_email=true",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 220],
      "notes": "對應 Make Router 第 2 路 + filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.routing.to_doc }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-doc",
      "name": "IF: to_doc=true",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 380],
      "notes": "對應 Make Router 第 3 路 + filter"
    },
    {
      "parameters": {
        "chatId": "1062913956",
        "text": "=🚨 【{{ $json.meta.category }}】 (優先度: {{ $json.meta.priority }})\n\n📝 秘書摘要：\n{{ $json.payloads.tg_brief }}\n\n🔗 一鍵跳轉：\n{{ $json.action.source_link }}",
        "additionalFields": {}
      },
      "id": "node-telegram",
      "name": "Telegram: Send Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1580, 60],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_YOUR_TELEGRAM_BOT_CRED_ID",
          "name": "Telegram Bot (replace me)"
        }
      },
      "notes": "對應 Make: telegram:SendReplyMessage\nChat ID: 1062913956（沿用 Make 原版；正式部署改自己的）"
    },
    {
      "parameters": {
        "sendTo": "sky8697@gmail.com",
        "subject": "=【秘書通報】{{ $json.meta.category }} - {{ $json.action.sender_info }}",
        "emailType": "text",
        "message": "=您好，我是數位秘書。\n偵測到一封郵件需要您的關注：\n\n案情摘要：\n{{ $json.payloads.email_report }}\n\n相關連結：{{ $json.action.source_link }}",
        "options": {}
      },
      "id": "node-gmail-send",
      "name": "Gmail: Send Message",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1580, 220],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2 (replace me)"
        }
      },
      "notes": "對應 Make: google-email:sendAnEmail\n收件人 sky8697@gmail.com — 正式部署改自己"
    },
    {
      "parameters": {
        "operation": "create",
        "title": "={{ $json.meta.category }}_{{ $now.toFormat('yyyyMMdd-HHmmss') }}",
        "folderId": "REPLACE_WITH_YOUR_DRIVE_FOLDER_ID"
      },
      "id": "node-docs-create",
      "name": "Google Docs: Create",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [1580, 380],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_DOCS_CRED_ID",
          "name": "Google Docs OAuth2 (replace me)"
        }
      },
      "notes": "對應 Make: google-docs:createADocument 第 1 步（建檔）\nMake 一步到位 / n8n 拆 Create + Update 兩節點"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $node[\"Google Docs: Create\"].json.documentId }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "object": "text",
              "text": "=數位秘書：郵件分析歸檔報告\n\n分析類別：{{ $('Split Out: tasks').item.json.meta.category }}\n情緒偵測：{{ $('Split Out: tasks').item.json.meta.sentiment }}\n處理建議：\n{{ $('Split Out: tasks').item.json.payloads.doc_archive }}\n\n原始發件人：{{ $('Split Out: tasks').item.json.action.sender_info }}\n原始信件連結：{{ $('Split Out: tasks').item.json.action.source_link }}"
            }
          ]
        }
      },
      "id": "node-docs-update",
      "name": "Google Docs: Update",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [1820, 380],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_DOCS_CRED_ID",
          "name": "Google Docs OAuth2 (replace me)"
        }
      },
      "notes": "對應 Make: google-docs:createADocument 第 2 步（寫內容）\n注意 expression 要用 $('Split Out: tasks') 跨節點引用，否則 Create 後 context 會變"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/workalarm_for_classtest001",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Priority",
              "value": "5"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "=🔴 數位秘書：緊急客訴警報！\n內容摘要：{{ $json.payloads.tg_brief }}",
        "options": {}
      },
      "id": "node-http-ntfy",
      "name": "HTTP POST ntfy.sh（無 filter）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 540],
      "onError": "continueRegularOutput",
      "notes": "對應 Make: http:MakeRequest\n直接從 Split Out 接，不經 IF（沿用 Make 原版設計）\n教學重點: 第 4 路 body 用 tg_brief 但無 filter，是 Make 原版的設計缺陷\n  → 1:1 重建保留，但實戰部署建議加 IF: routing.to_tg=true 過濾\n注意: 換成自己的 ntfy topic，避免跟其他學員撞用"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Aggregate（5 items → 1 array）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate（5 items → 1 array）": {
      "main": [
        [
          {
            "node": "HTTP Gemini 2.5 Flash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Gemini 2.5 Flash": {
      "main": [
        [
          {
            "node": "Code: Parse AI JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Parse AI JSON": {
      "main": [
        [
          {
            "node": "Split Out: tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out: tasks": {
      "main": [
        [
          {
            "node": "IF: to_tg=true",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF: to_email=true",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF: to_doc=true",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP POST ntfy.sh（無 filter）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: to_tg=true": {
      "main": [
        [
          {
            "node": "Telegram: Send Message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "IF: to_email=true": {
      "main": [
        [
          {
            "node": "Gmail: Send Message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "IF: to_doc=true": {
      "main": [
        [
          {
            "node": "Google Docs: Create",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Google Docs: Create": {
      "main": [
        [
          {
            "node": "Google Docs: Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "m4-4-template-v1",
  "id": "m4-4-ai-secretary-migration",
  "tags": [
    {
      "name": "course/n8n",
      "id": "tag-course-n8n"
    },
    {
      "name": "module/m4",
      "id": "tag-module-m4"
    },
    {
      "name": "experimental",
      "id": "tag-experimental"
    }
  ]
}
