courses/n8n/assets/n8n-lite-pack/workflows/02-pdf-ai-rename.json
{
  "name": "02 · PDF AI 改名",
  "meta": {
    "_litePackNote": "Lite Pack #2：批次 PDF AI 改名。Code node 透過 $env.GEMINI_API_KEY 讀 key。"
  },
  "nodes": [
    {
      "parameters": {
        "content": "## #2 PDF AI 改名\n\n**目的**：批次讀資料夾 PDF → AI 改名。\n\n**測試方法**：\n1. 把 PDF 拖進 ~/Downloads/n8n-starter-kit/shared/pdf-inbox/\n2. 點下方紫色 Execute workflow\n3. shared/pdf-renamed/ 出現改名後檔案\n\n**API key 處理**：你的 Gemini API key 在 n8n 容器環境變數 GEMINI_API_KEY，Code node 透過 $env.GEMINI_API_KEY 讀取。要換 key：編輯 starter-kit/.env，docker compose restart n8n，或重跑 setup-wizard。\n\n**改造方向**：\n- 改 prompt 改變命名規則\n- 把 trigger 從 Manual 改成 Schedule 或 Local File Trigger（資料夾監看）\n- 失敗檔走 Telegram 通知",
        "height": 380,
        "width": 380
      },
      "id": "sticky-02",
      "name": "📌 使用說明",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -280,
        0
      ]
    },
    {
      "parameters": {},
      "id": "trigger-02",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "fileSelector": "/files/shared/pdf-inbox/*.pdf",
        "options": {}
      },
      "id": "read-02",
      "name": "Read PDF",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "extract-02",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Lite Pack v1.2 · LLM helper（共用骨架，下面業務邏輯維持原樣）\n// ⚠ 本 workflow 每筆 input 都打 1 次 LLM API。\n// 若處理 > 10 筆 → 在 loop 內加 `if (i > 0) await lpThrottle();`\n// 否則撞 Free tier 10 RPM 上限會 429。\n\n// ════════════════════════════════════════════════════════════\n// Lite Pack v1.2 · LLM Helper（共用骨架）\n//\n// 這段 inject 到每個用 Gemini 的 workflow Code node 開頭。\n// 學員客製 workflow 時：\n//   - 改 LP_CONFIG → 統一調整 model / timeout / retry / RPM\n//   - 用 lpCall(...) 呼叫 LLM → 自動 throttle + retry + 429 處理\n//   - 用 lpSizeOK(...) 預檢 inline data → 避免撞 20 MB API limit\n//   - 用 lpThrottle() → loop 內呼叫之間 sleep\n//\n// 換 LLM provider（Gemini → Claude / OpenAI）：只改 lpCall 內的 url/headers/body shape，\n// 業務邏輯不動。\n// ════════════════════════════════════════════════════════════\nconst LP = {\n  apiKey: $env.GEMINI_API_KEY,\n  model: 'gemini-2.5-flash',\n  endpoint: 'https://generativelanguage.googleapis.com/v1beta/models',\n  rpmDelayMs: 6500,                       // Free tier 10 RPM；paid 改 1000\n  maxRetries: 3,\n  retry429Ms: 60000,                      // 429 等 60s（quota window）\n  retry5xxMs: 5000,                       // 5xx 等 5s\n  timeoutMs: 30000,\n  maxInlineBytes: 18 * 1024 * 1024,       // 18 MB（保留 buffer to 20 MB hard limit）\n};\n\nconst lpSleep = ms => new Promise(r => setTimeout(r, ms));\n\n// 主呼叫：自動 retry 429/5xx\n// 用法：const r = await lpCall.call(this, { prompt, gen: { maxOutputTokens: 200 } });\n//      if (r.ok) use r.text; else use r.error\nasync function lpCall({ prompt, gen = {}, _att = 0 }) {\n  if (!prompt || typeof prompt !== 'string') return { ok: false, text: '', error: 'empty prompt' };\n  try {\n    const r = await this.helpers.httpRequest({\n      method: 'POST',\n      url: LP.endpoint + '/' + LP.model + ':generateContent',\n      headers: { 'Content-Type': 'application/json', 'x-goog-api-key': LP.apiKey },\n      body: {\n        contents: [{ role: 'user', parts: [{ text: prompt }] }],\n        generationConfig: {\n          temperature: 0.4, maxOutputTokens: 400, thinkingConfig: { thinkingBudget: 0 },\n          ...gen\n        }\n      },\n      json: true,\n      timeout: LP.timeoutMs,\n    });\n    return {\n      ok: true,\n      text: r.candidates?.[0]?.content?.parts?.[0]?.text || '',\n      finishReason: r.candidates?.[0]?.finishReason || 'unknown',\n      attempt: _att,\n    };\n  } catch (e) {\n    const m = (e && e.message) || String(e);\n    const r429 = m.includes('429') || m.includes('RESOURCE_EXHAUSTED') || m.includes('quota');\n    const r5xx = /\\b5\\d{2}\\b/.test(m) || m.includes('UNAVAILABLE');\n    if (_att < LP.maxRetries && (r429 || r5xx)) {\n      await lpSleep(r429 ? LP.retry429Ms : LP.retry5xxMs);\n      return lpCall.call(this, { prompt, gen, _att: _att + 1 });\n    }\n    return { ok: false, text: '', error: m.substring(0, 300), attempt: _att };\n  }\n}\n\n// loop 內 N 筆呼叫之間 sleep（避免撞 RPM）\n// 用法：for (let i = 0; i < items.length; i++) { if (i > 0) await lpThrottle(); ... }\nasync function lpThrottle() { await lpSleep(LP.rpmDelayMs); }\n\n// 預檢 inline data 是否會撞 20 MB API request limit\n// 用法：if (!lpSizeOK(binary.data.data)) { /* skip 或 chunk */ }\nfunction lpSizeOK(base64OrBuf) {\n  const b = typeof base64OrBuf === 'string'\n    ? Math.floor(base64OrBuf.length * 0.75)\n    : (base64OrBuf && base64OrBuf.length) || 0;\n  return b <= LP.maxInlineBytes;\n}\n\n// ════════════════════════════════════════════════════════════\n// 業務邏輯（這裡開始是這個 workflow 特有的）\n// ════════════════════════════════════════════════════════════\n// v0.9：Code node 直接打 Gemini API + 多份 PDF robust 對齊（用 binary.data.fileName 或 i 對齊 Read，不靠 pairedItem）\n\nconst today = new Date().toISOString().slice(0, 10).replace(/-/g, '');\nconst items = $input.all();\nconst allReadItems = $('Read PDF').all();\nconst results = [];\n\nfor (let idx = 0; idx < items.length; idx++) {\n  const item = items[idx];\n  if (idx > 0) await lpThrottle();  // v1.2: avoid 10 RPM Gemini Free tier 429\n\n  // 找對應 Read item：先用 binary.data.fileName，再用 i 對齊\n  let readItem = null;\n  const binFileName = item.binary?.data?.fileName;\n  if (binFileName) {\n    readItem = allReadItems.find(r => r?.json?.fileName === binFileName);\n  }\n  if (!readItem) {\n    readItem = allReadItems[idx];\n  }\n\n  const pdfText = item.json.text || '';\n  const originalName = readItem?.json?.fileName || 'unknown.pdf';\n  const originalPath = '/files/shared/pdf-inbox/' + originalName;\n\n  if (!readItem?.binary?.data) {\n    throw new Error('[idx=' + idx + '] No binary. originalName=' + originalName + ', binFileName=' + binFileName + ', readNames=[' + allReadItems.map(r => r?.json?.fileName).join('|') + ']');\n  }\n\n  const prompt = '請為這份 PDF 文件取一個語意化檔名（繁體中文）。\\n格式：YYYYMMDD_類型_關鍵字\\n- 日期：' + today + '\\n- 類型 2-4 字（合約 / 發票 / 報告 / 說明 / 簡報 / 紀錄 / 手冊 / 規格）\\n- 關鍵字 5-20 字\\n範例：20260506_說明_Adobe創意服務\\n直接回檔名一行（不要 markdown，不要引號，不要解釋文字）。\\n\\n<PDF>\\n' + pdfText.substring(0, 2500) + '\\n</PDF>';\n\n  // v1.2.2: 用 lpCall（自動 retry 429/5xx），介面與舊 try/catch 對齊\n  const lpResult = await lpCall.call(this, {\n    prompt,\n    gen: { temperature: 0.4, maxOutputTokens: 200 }\n  });\n  const aiResponse = lpResult.text || '';\n  const finishReason = lpResult.finishReason || 'unknown';\n  const httpError = lpResult.ok ? null : (lpResult.error || 'unknown error');\n\n  let newFilename;\n  let parseMethod;\n  const trimmed = aiResponse.trim().replace(/^```\\w*\\n?/, '').replace(/\\n?```$/, '').trim();\n  if (trimmed && /^\\d{8}[_\\-]/.test(trimmed)) {\n    newFilename = trimmed.split('\\n')[0];\n    parseMethod = 'ai-plain';\n  }\n  if (!newFilename) {\n    const m = aiResponse.match(/(\\d{8}[_\\-][^\\s\"',\\n]+)/);\n    if (m) { newFilename = m[1]; parseMethod = 'regex-date'; }\n  }\n  if (!newFilename && pdfText) {\n    const lines = pdfText.split('\\n').map(l => l.trim()).filter(l => l.length > 3 && l.length < 80);\n    let titleCandidate;\n    for (const line of lines) {\n      if (/^[\\d\\s\\/:.\\-]+$/.test(line)) continue;\n      let cleanedLine = line.replace(/^\\d+[\\s\\/:.\\-]+\\d+[\\s\\/:.\\-]+\\d+[\\s\\/:.\\-]*\\d*[\\s\\/:.\\-]*\\d*\\s*/, '').trim();\n      if (cleanedLine.length > 3) { titleCandidate = cleanedLine; break; }\n    }\n    if (titleCandidate) {\n      const cleaned = titleCandidate.replace(/[—–\\-—‧·•]/g, '_').replace(/\\s+/g, '_').replace(/_+/g, '_').replace(/^_|_$/g, '').substring(0, 50);\n      newFilename = today + '_文件_' + cleaned;\n      parseMethod = 'pdf-title';\n    }\n  }\n  if (!newFilename) {\n    newFilename = today + '_AI無回應_' + originalName.replace(/\\.pdf$/i, '');\n    parseMethod = httpError ? ('http-error: ' + httpError.substring(0, 80)) : ('fallback-empty(finish=' + finishReason + ')');\n  }\n  newFilename = newFilename.replace(/[\\\\/:*?\"<>|]/g, '_').replace(/\\.pdf$/i, '').substring(0, 100);\n\n  results.push({\n    json: {\n      originalPath, originalName, newFilename,\n      newPath: '/files/shared/pdf-renamed/' + newFilename + '.pdf',\n      parseMethod, finishReason,\n      aiResponseLength: aiResponse.length,\n      aiResponsePreview: aiResponse.substring(0, 200),\n      pdfTextLength: pdfText.length,\n      pdfTextPreview: pdfText.substring(0, 200),\n      httpError\n    },\n    binary: readItem?.binary,\n    pairedItem: { item: idx }\n  });\n}\n\nreturn results;"
      },
      "id": "ai-02",
      "name": "Code: AI 改名（內含 Gemini call）",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.newPath }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "write-02",
      "name": "Write: 改名輸出",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read PDF": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Code: AI 改名（內含 Gemini call）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: AI 改名（內含 Gemini call）": {
      "main": [
        [
          {
            "node": "Write: 改名輸出",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "id": "lite-pack-02-pdf-ai-rename",
  "tags": [
    {
      "name": "lite-pack",
      "id": "tag-lite-pack"
    },
    {
      "name": "module-3",
      "id": "tag-module-3"
    }
  ]
}