courses/n8n/assets/n8n-lite-pack/workflows/02-pdf-ai-rename.json
{
  "name": "02 · PDF AI 改名",
  "meta": {
    "_litePackNote": "v0.6：徹底廢掉 HTTP Request node，改用 Code + this.helpers.httpRequest 直接打 Gemini API。繞過 n8n jsonBody expression 解析陷阱（連發 #16 終極解）。"
  },
  "nodes": [
    {
      "parameters": {
        "content": "## #2 PDF AI 改名（v0.6 終極版）\n\n**目的**：批次讀資料夾 PDF → AI 改名。\n\n**v0.6 設計**：用 Code node 內建 helpers.httpRequest 取代 HTTP Request node，徹底避開 n8n jsonBody expression 解析錯誤。整條 workflow 從 7 節點簡化為 5 節點。\n\n**測試方法**：\n1. ~/Downloads/n8n-starter-kit/shared/pdf-inbox/ 拖 PDF\n2. 點下方紫色 Execute workflow\n3. shared/pdf-renamed/ 出現新檔名\n\n**API key 處理**：setup-wizard 在 import 時自動把 __GEMINI_API_KEY__ 替換成學員的真實 key（同 Telegram chat ID 機制）。",
        "height": 380,
        "width": 380
      },
      "id": "sticky-02",
      "name": "📌 使用說明",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-280, 0]
    },
    {
      "parameters": {},
      "id": "trigger-02",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "fileSelector": "/files/shared/pdf-inbox/*.pdf",
        "options": {}
      },
      "id": "read-02",
      "name": "Read PDF",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "extract-02",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// v0.9：Code node 直接打 Gemini API + 多份 PDF robust 對齊（用 binary.data.fileName 或 i 對齊 Read，不靠 pairedItem）\n// __GEMINI_API_KEY__ 由 setup-wizard 自動替換成學員真實 key\n\nconst GEMINI_API_KEY = '__GEMINI_API_KEY__';\nconst today = new Date().toISOString().slice(0, 10).replace(/-/g, '');\nconst items = $input.all();\nconst allReadItems = $('Read PDF').all();\nconst results = [];\n\nfor (let idx = 0; idx < items.length; idx++) {\n  const item = items[idx];\n\n  // 找對應 Read item：先用 binary.data.fileName，再用 i 對齊\n  let readItem = null;\n  const binFileName = item.binary?.data?.fileName;\n  if (binFileName) {\n    readItem = allReadItems.find(r => r?.json?.fileName === binFileName);\n  }\n  if (!readItem) {\n    readItem = allReadItems[idx];\n  }\n\n  const pdfText = item.json.text || '';\n  const originalName = readItem?.json?.fileName || 'unknown.pdf';\n  const originalPath = '/files/shared/pdf-inbox/' + originalName;\n\n  if (!readItem?.binary?.data) {\n    throw new Error('[idx=' + idx + '] No binary. originalName=' + originalName + ', binFileName=' + binFileName + ', readNames=[' + allReadItems.map(r => r?.json?.fileName).join('|') + ']');\n  }\n\n  const prompt = '請為這份 PDF 文件取一個語意化檔名（繁體中文）。\\n格式：YYYYMMDD_類型_關鍵字\\n- 日期：' + today + '\\n- 類型 2-4 字（合約 / 發票 / 報告 / 說明 / 簡報 / 紀錄 / 手冊 / 規格）\\n- 關鍵字 5-20 字\\n範例：20260506_說明_Adobe創意服務\\n直接回檔名一行（不要 markdown，不要引號，不要解釋文字）。\\n\\n<PDF>\\n' + pdfText.substring(0, 2500) + '\\n</PDF>';\n\n  let aiResponse = '';\n  let finishReason = 'unknown';\n  let httpError = null;\n\n  try {\n    const response = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent',\n      headers: { 'Content-Type': 'application/json', 'x-goog-api-key': GEMINI_API_KEY },\n      body: {\n        contents: [{ role: 'user', parts: [{ text: prompt }] }],\n        generationConfig: { temperature: 0.4, maxOutputTokens: 200, thinkingConfig: { thinkingBudget: 0 } }\n      },\n      json: true\n    });\n    aiResponse = response.candidates?.[0]?.content?.parts?.[0]?.text || '';\n    finishReason = response.candidates?.[0]?.finishReason || 'unknown';\n  } catch (error) {\n    httpError = error.message || String(error);\n  }\n\n  let newFilename;\n  let parseMethod;\n  const trimmed = aiResponse.trim().replace(/^```\\w*\\n?/, '').replace(/\\n?```$/, '').trim();\n  if (trimmed && /^\\d{8}[_\\-]/.test(trimmed)) {\n    newFilename = trimmed.split('\\n')[0];\n    parseMethod = 'ai-plain';\n  }\n  if (!newFilename) {\n    const m = aiResponse.match(/(\\d{8}[_\\-][^\\s\"',\\n]+)/);\n    if (m) { newFilename = m[1]; parseMethod = 'regex-date'; }\n  }\n  if (!newFilename && pdfText) {\n    const lines = pdfText.split('\\n').map(l => l.trim()).filter(l => l.length > 3 && l.length < 80);\n    let titleCandidate;\n    for (const line of lines) {\n      if (/^[\\d\\s\\/:.\\-]+$/.test(line)) continue;\n      let cleanedLine = line.replace(/^\\d+[\\s\\/:.\\-]+\\d+[\\s\\/:.\\-]+\\d+[\\s\\/:.\\-]*\\d*[\\s\\/:.\\-]*\\d*\\s*/, '').trim();\n      if (cleanedLine.length > 3) { titleCandidate = cleanedLine; break; }\n    }\n    if (titleCandidate) {\n      const cleaned = titleCandidate.replace(/[—–\\-—‧·•]/g, '_').replace(/\\s+/g, '_').replace(/_+/g, '_').replace(/^_|_$/g, '').substring(0, 50);\n      newFilename = today + '_文件_' + cleaned;\n      parseMethod = 'pdf-title';\n    }\n  }\n  if (!newFilename) {\n    newFilename = today + '_AI無回應_' + originalName.replace(/\\.pdf$/i, '');\n    parseMethod = httpError ? ('http-error: ' + httpError.substring(0, 80)) : ('fallback-empty(finish=' + finishReason + ')');\n  }\n  newFilename = newFilename.replace(/[\\\\/:*?\"<>|]/g, '_').replace(/\\.pdf$/i, '').substring(0, 100);\n\n  results.push({\n    json: {\n      originalPath, originalName, newFilename,\n      newPath: '/files/shared/pdf-renamed/' + newFilename + '.pdf',\n      parseMethod, finishReason,\n      aiResponseLength: aiResponse.length,\n      aiResponsePreview: aiResponse.substring(0, 200),\n      pdfTextLength: pdfText.length,\n      pdfTextPreview: pdfText.substring(0, 200),\n      httpError\n    },\n    binary: readItem?.binary,\n    pairedItem: { item: upstreamIdx }\n  });\n}\n\nreturn results;"
      },
      "id": "ai-02",
      "name": "Code: AI 改名（內含 Gemini call）",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.newPath }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "write-02",
      "name": "Write: 改名輸出",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1100, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Read PDF", "type": "main", "index": 0}]]
    },
    "Read PDF": {
      "main": [[{"node": "Extract PDF Text", "type": "main", "index": 0}]]
    },
    "Extract PDF Text": {
      "main": [[{"node": "Code: AI 改名（內含 Gemini call）", "type": "main", "index": 0}]]
    },
    "Code: AI 改名（內含 Gemini call）": {
      "main": [[{"node": "Write: 改名輸出", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "id": "lite-pack-02-pdf-ai-rename",
  "tags": [
    {"name": "lite-pack", "id": "tag-lite-pack"},
    {"name": "module-3", "id": "tag-module-3"}
  ]
}
