courses/n8n/assets/n8n-lite-pack/workflows/04-daily-ai-report.json
{
  "name": "04 · 定時 AI 日報",
  "meta": {
    "_litePackNote": "Lite Pack #4：Switch by extension（PDF/純文字）+ Aggregate + AI 摘要 Markdown 日報。"
  },
  "nodes": [
    {
      "parameters": {
        "content": "## #4 定時 AI 日報\n\n**目的**：每天自動讀指定資料夾內所有檔案 → 按副檔名分流 PDF / 純文字 → AI 摘要 → 寫 Markdown 日報。\n\n**支援格式**：.pdf / .txt / .md / .csv\n**不支援**：.docx / .xlsx（先轉 PDF 或匯出純文字）\n\n**測試方法**：\n1. 開 daily-input/ 資料夾（~/Downloads/n8n-starter-kit/shared/daily-input/）\n2. 丟 1-3 份混合檔案（可混 .pdf + .md + .txt）\n3. 點 Execute workflow\n4. 看 daily-output/daily-{日期}.md\n\n**改造方向**：\n- 改 Schedule 時間 / 加 Telegram 通知 / 換摘要風格\n- 加 .docx 支援（LibreOffice CLI 或 docx-parser）",
        "height": 460,
        "width": 380
      },
      "id": "sticky-04",
      "name": "📌 使用說明",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -280,
        -40
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "trigger-04",
      "name": "Schedule: 每天 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ],
      "notes": "Cron: 0 8 * * * = 每天早上 8 點。要測試用 Manual 或改 cron 為 */1 * * * * 每分鐘"
    },
    {
      "parameters": {
        "fileSelector": "/files/shared/daily-input/*",
        "options": {}
      },
      "id": "read-04",
      "name": "Read daily-input 所有檔",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "notes": "fileSelector glob = */ 抓所有檔。每個檔變一個 item（fan-out）"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.data.fileExtension }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "純文字"
        }
      },
      "id": "switch-04",
      "name": "Switch: 副檔名分流",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        680,
        300
      ],
      "notes": "按 binary.data.fileExtension 分流：pdf 走上路徑，其他走下路徑（純文字 fallback）"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "extract-pdf-04",
      "name": "Extract PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        900,
        180
      ],
      "notes": "operation:pdf → pdfjs 解析。輸出 json.text + numpages + info + metadata"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "extract-text-04",
      "name": "Extract 純文字",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        900,
        420
      ],
      "notes": "operation:text → UTF-8 純文字讀取。輸出 json.data。.txt/.md/.csv 都行；丟 PDF 進來會出亂碼，所以前面 Switch 已分流"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "files",
        "include": "allFields",
        "options": {}
      },
      "id": "agg-04",
      "name": "Aggregate 多檔合併",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1140,
        300
      ],
      "notes": "allItemData 模式：把兩條分支的 items 全部塞進 files[] 陣列。下游 Code 正規化欄位"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Lite Pack v1.2 · LLM helper（共用骨架，下面業務邏輯維持原樣）\n// ════════════════════════════════════════════════════════════\n// Lite Pack v1.2 · LLM Helper（共用骨架）\n//\n// 這段 inject 到每個用 Gemini 的 workflow Code node 開頭。\n// 學員客製 workflow 時：\n//   - 改 LP_CONFIG → 統一調整 model / timeout / retry / RPM\n//   - 用 lpCall(...) 呼叫 LLM → 自動 throttle + retry + 429 處理\n//   - 用 lpSizeOK(...) 預檢 inline data → 避免撞 20 MB API limit\n//   - 用 lpThrottle() → loop 內呼叫之間 sleep\n//\n// 換 LLM provider（Gemini → Claude / OpenAI）：只改 lpCall 內的 url/headers/body shape，\n// 業務邏輯不動。\n// ════════════════════════════════════════════════════════════\nconst LP = {\n  apiKey: $env.GEMINI_API_KEY,\n  model: 'gemini-2.5-flash',\n  endpoint: 'https://generativelanguage.googleapis.com/v1beta/models',\n  rpmDelayMs: 6500,                       // Free tier 10 RPM；paid 改 1000\n  maxRetries: 3,\n  retry429Ms: 60000,                      // 429 等 60s（quota window）\n  retry5xxMs: 5000,                       // 5xx 等 5s\n  timeoutMs: 30000,\n  maxInlineBytes: 18 * 1024 * 1024,       // 18 MB（保留 buffer to 20 MB hard limit）\n};\n\nconst lpSleep = ms => new Promise(r => setTimeout(r, ms));\n\n// 主呼叫：自動 retry 429/5xx\n// 用法：const r = await lpCall.call(this, { prompt, gen: { maxOutputTokens: 200 } });\n//      if (r.ok) use r.text; else use r.error\nasync function lpCall({ prompt, gen = {}, _att = 0 }) {\n  if (!prompt || typeof prompt !== 'string') return { ok: false, text: '', error: 'empty prompt' };\n  try {\n    const r = await this.helpers.httpRequest({\n      method: 'POST',\n      url: LP.endpoint + '/' + LP.model + ':generateContent',\n      headers: { 'Content-Type': 'application/json', 'x-goog-api-key': LP.apiKey },\n      body: {\n        contents: [{ role: 'user', parts: [{ text: prompt }] }],\n        generationConfig: {\n          temperature: 0.4, maxOutputTokens: 400, thinkingConfig: { thinkingBudget: 0 },\n          ...gen\n        }\n      },\n      json: true,\n      timeout: LP.timeoutMs,\n    });\n    return {\n      ok: true,\n      text: r.candidates?.[0]?.content?.parts?.[0]?.text || '',\n      finishReason: r.candidates?.[0]?.finishReason || 'unknown',\n      attempt: _att,\n    };\n  } catch (e) {\n    const m = (e && e.message) || String(e);\n    const r429 = m.includes('429') || m.includes('RESOURCE_EXHAUSTED') || m.includes('quota');\n    const r5xx = /\\b5\\d{2}\\b/.test(m) || m.includes('UNAVAILABLE');\n    if (_att < LP.maxRetries && (r429 || r5xx)) {\n      await lpSleep(r429 ? LP.retry429Ms : LP.retry5xxMs);\n      return lpCall.call(this, { prompt, gen, _att: _att + 1 });\n    }\n    return { ok: false, text: '', error: m.substring(0, 300), attempt: _att };\n  }\n}\n\n// loop 內 N 筆呼叫之間 sleep（避免撞 RPM）\n// 用法：for (let i = 0; i < items.length; i++) { if (i > 0) await lpThrottle(); ... }\nasync function lpThrottle() { await lpSleep(LP.rpmDelayMs); }\n\n// 預檢 inline data 是否會撞 20 MB API request limit\n// 用法：if (!lpSizeOK(binary.data.data)) { /* skip 或 chunk */ }\nfunction lpSizeOK(base64OrBuf) {\n  const b = typeof base64OrBuf === 'string'\n    ? Math.floor(base64OrBuf.length * 0.75)\n    : (base64OrBuf && base64OrBuf.length) || 0;\n  return b <= LP.maxInlineBytes;\n}\n\n// ════════════════════════════════════════════════════════════\n// 業務邏輯（這裡開始是這個 workflow 特有的）\n// ════════════════════════════════════════════════════════════\n// v0.7：正規化異質欄位（PDF 路徑 json.text vs 純文字路徑 json.data）+ 打 Gemini API + 組 Markdown\n\nconst aggregated = $json;\nconst rawFiles = aggregated.files || [];\nconst today = new Date().toISOString().slice(0, 10);\n\n// 正規化：兩條分支欄位不同，統一成 { fileName, text }\nconst files = rawFiles.map((it, idx) => {\n  const text = it.text ?? it.data ?? '';\n  const fileName = it.fileName ?? it.info?.Title ?? ('檔案-' + (idx + 1));\n  const pages = it.numpages ?? null;\n  return { fileName, text: typeof text === 'string' ? text : String(text), pages };\n}).filter(f => f.text && f.text.length >= 10);\n\nif (files.length === 0) {\n  return [{\n    json: {\n      outputPath: '/files/shared/daily-output/daily-' + today + '.md',\n      markdown: '# 日報 - ' + today + '\\n\\n（沒有可摘要的檔案。請確認 daily-input/ 內有 .pdf / .txt / .md / .csv）',\n      today,\n      filesCount: 0\n    },\n    binary: {\n      data: {\n        data: Buffer.from('\\ufeff' + ('# 日報 - ' + today + '\\n\\n（沒有可摘要的檔案）'), 'utf-8').toString('base64'),\n        mimeType: 'text/markdown',\n        fileName: 'daily-' + today + '.md'\n      }\n    }\n  }];\n}\n\n// 組 prompt（每檔截 2500 字、總長截 8000 字以保 token 預算）\nlet promptCorpus = '';\nfor (const f of files) {\n  const chunk = '【' + f.fileName + (f.pages ? '（' + f.pages + ' 頁）' : '') + '】\\n' + f.text.substring(0, 2500) + '\\n\\n';\n  if ((promptCorpus + chunk).length > 8000) break;\n  promptCorpus += chunk;\n}\n\nconst prompt = '以下是今日多份輸入文件，請整理成結構化日報（繁體中文 Markdown）。包含：重點摘要 3-5 點、待辦事項（含優先級）、關鍵決策、風險或卡點。日期：' + today + '。直接輸出 Markdown，不要 markdown 標記包裹。\\n\\n<輸入文件>\\n' + promptCorpus + '\\n</輸入文件>';\n\nlet markdown;\nlet aiError = null;\n\nconst lpResult = await lpCall.call(this, {\n  prompt,\n  gen: { temperature: 0.5, maxOutputTokens: 2000 }\n});\nif (lpResult.ok) {\n  markdown = lpResult.text.replace(/```markdown\\s*/i, '').replace(/```\\s*$/, '').trim();\n} else {\n  aiError = lpResult.error;\n  markdown = '# 日報 - ' + today + '\\n\\n（AI 呼叫失敗：' + aiError + '）\\n\\n## 原始輸入摘要\\n\\n' + files.map(f => '- ' + f.fileName + '（' + f.text.length + ' 字）').join('\\n');\n}\n\nif (!markdown || markdown.length < 5) {\n  markdown = '# 日報 - ' + today + '\\n\\n（AI 回應為空，可能是輸入太少或 API 限額）';\n}\n\nconst outputPath = '/files/shared/daily-output/daily-' + today + '.md';\n\nreturn [{\n  json: {\n    outputPath,\n    markdown,\n    aiError,\n    today,\n    filesCount: files.length,\n    filesProcessed: files.map(f => f.fileName)\n  },\n  binary: {\n    data: {\n      data: Buffer.from('\\ufeff' + (markdown), 'utf-8').toString('base64'),\n      mimeType: 'text/markdown',\n      fileName: 'daily-' + today + '.md'\n    }\n  }\n}];"
      },
      "id": "ai-04",
      "name": "Code: AI 摘要 + 組 Markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.outputPath }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "write-04",
      "name": "Write: daily-output/",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1620,
        300
      ]
    }
  ],
  "connections": {
    "Schedule: 每天 08:00": {
      "main": [
        [
          {
            "node": "Read daily-input 所有檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read daily-input 所有檔": {
      "main": [
        [
          {
            "node": "Switch: 副檔名分流",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: 副檔名分流": {
      "main": [
        [
          {
            "node": "Extract PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract 純文字",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF": {
      "main": [
        [
          {
            "node": "Aggregate 多檔合併",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract 純文字": {
      "main": [
        [
          {
            "node": "Aggregate 多檔合併",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate 多檔合併": {
      "main": [
        [
          {
            "node": "Code: AI 摘要 + 組 Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: AI 摘要 + 組 Markdown": {
      "main": [
        [
          {
            "node": "Write: daily-output/",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "lite-pack-04-daily-ai-report",
  "tags": [
    {
      "name": "lite-pack",
      "id": "tag-lite-pack"
    },
    {
      "name": "module-3",
      "id": "tag-module-3"
    }
  ]
}