courses/n8n/assets/n8n-lite-pack/workflows/05-telegram-notify.json
{
  "name": "05 · Telegram 通知測試",
  "meta": {
    "_litePackNote": "Lite Pack #5：最簡 Telegram bot credential 驗證。"
  },
  "nodes": [
    {
      "parameters": {
        "content": "## #5 Telegram 通知測試\n\n**目的**：最快驗證 setup-wizard 建的 Telegram bot credential 真的能用。\n\n**測試方法**：\n1. 點 Execute workflow\n2. 你的 Telegram 應該立刻收到訊息「✅ Lite Pack 通知測試成功！...」\n3. 沒收到？看錯誤訊息，回 setup-wizard 重設 Telegram credential\n\n**改造方向**：\n- 把這個 workflow 當「通知 sub-workflow」，其他 workflow 用 Execute Workflow 節點呼叫\n- 加變數讓呼叫端可傳「emoji」「主標」「內文」自訂訊息\n- 加圖片附件（用 sendPhoto 取代 sendMessage）",
        "height": 320,
        "width": 360
      },
      "id": "sticky-05",
      "name": "📌 使用說明",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        0
      ]
    },
    {
      "parameters": {},
      "id": "trigger-05",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "msg-05",
              "name": "messageText",
              "value": "=✅ Lite Pack 通知測試成功！\n\n🤖 你的 Telegram bot 已正確設定\n⏰ 觸發時間：{{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}\n\n後續任何 workflow 都能串這個 bot 發通知。",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-05",
      "name": "Set: 訊息內容",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "__TELEGRAM_CHAT_ID__",
        "text": "={{ $json.messageText }}",
        "additionalFields": {}
      },
      "id": "telegram-05",
      "name": "Telegram: Send Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        680,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "lite-pack-telegram",
          "name": "Lite Pack · Telegram Bot"
        }
      },
      "notes": "chatId 從 n8n 環境變數讀（setup-wizard 寫入 .env）。或直接在這裡寫死你的 chat ID"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set: 訊息內容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: 訊息內容": {
      "main": [
        [
          {
            "node": "Telegram: Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "lite-pack-05-telegram-notify",
  "tags": [
    {
      "name": "lite-pack",
      "id": "tag-lite-pack"
    }
  ]
}