courses/n8n/assets/n8n-lite-pack/workflows/06-webhook-gemini-file.json
{
  "name": "06 · Webhook → Gemini → 本機檔",
  "meta": {
    "_litePackNote": "v0.7：加 Web UI 分支（GET /ai-ui 回 HTML 表單頁），學員瀏覽器開 http://localhost:5678/webhook/ai-ui 即可問問題，不需 curl。原 POST /ai-ask 保留給程式呼叫。"
  },
  "nodes": [
    {
      "parameters": {
        "content": "## #6 Webhook → Gemini → 本機檔（v0.6）\n\n**目的**：外部 POST 一個問題 → Gemini 生答 → 寫本機 .md 檔 + Telegram 通知。\n\n**v0.6 設計**：Code node 直接打 Gemini API（不再用 HTTP Request node），徹底避開 jsonBody 解析雷。\n\n**測試方法（兩種）**：\n\n**A. 純本機測試**（不需 Tunnel）\n1. 點 Execute workflow → Webhook 變藍色\n2. 終端機跑：\n   curl -X POST http://localhost:5678/webhook-test/ai-ask \\\n     -H \"Content-Type: application/json\" \\\n     -d '{\"question\":\"今天台北天氣？\"}'\n3. 等 5-10 秒，看 ~/Downloads/n8n-starter-kit/shared/ai-output/ 出現 .md\n4. Telegram 應收到通知\n\n**B. 公開測試**（搭 Quick Tunnel）\n見 #7 workflow，把 webhook URL 換成 trycloudflare.com\n\n**改造方向**：\n- 換 prompt 做不同任務（翻譯 / 摘要 / 文案）\n- 加 If node 判斷問題類型走不同分支\n- 換輸出（本機檔 → Notion / Google Sheets）",
        "height": 480,
        "width": 380
      },
      "id": "sticky-06",
      "name": "📌 使用說明",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -280,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-ask",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-06",
      "name": "Webhook: ai-ask",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "lite-pack-06-ai-ask"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Lite Pack v1.2 · LLM helper（共用骨架，下面業務邏輯維持原樣）\n// ════════════════════════════════════════════════════════════\n// Lite Pack v1.2 · LLM Helper（共用骨架）\n//\n// 這段 inject 到每個用 Gemini 的 workflow Code node 開頭。\n// 學員客製 workflow 時：\n//   - 改 LP_CONFIG → 統一調整 model / timeout / retry / RPM\n//   - 用 lpCall(...) 呼叫 LLM → 自動 throttle + retry + 429 處理\n//   - 用 lpSizeOK(...) 預檢 inline data → 避免撞 20 MB API limit\n//   - 用 lpThrottle() → loop 內呼叫之間 sleep\n//\n// 換 LLM provider（Gemini → Claude / OpenAI）：只改 lpCall 內的 url/headers/body shape，\n// 業務邏輯不動。\n// ════════════════════════════════════════════════════════════\nconst LP = {\n  apiKey: $env.GEMINI_API_KEY,\n  model: 'gemini-2.5-flash',\n  endpoint: 'https://generativelanguage.googleapis.com/v1beta/models',\n  rpmDelayMs: 6500,                       // Free tier 10 RPM；paid 改 1000\n  maxRetries: 3,\n  retry429Ms: 60000,                      // 429 等 60s（quota window）\n  retry5xxMs: 5000,                       // 5xx 等 5s\n  timeoutMs: 30000,\n  maxInlineBytes: 18 * 1024 * 1024,       // 18 MB（保留 buffer to 20 MB hard limit）\n};\n\nconst lpSleep = ms => new Promise(r => setTimeout(r, ms));\n\n// 主呼叫：自動 retry 429/5xx\n// 用法：const r = await lpCall.call(this, { prompt, gen: { maxOutputTokens: 200 } });\n//      if (r.ok) use r.text; else use r.error\nasync function lpCall({ prompt, gen = {}, _att = 0 }) {\n  if (!prompt || typeof prompt !== 'string') return { ok: false, text: '', error: 'empty prompt' };\n  try {\n    const r = await this.helpers.httpRequest({\n      method: 'POST',\n      url: LP.endpoint + '/' + LP.model + ':generateContent',\n      headers: { 'Content-Type': 'application/json', 'x-goog-api-key': LP.apiKey },\n      body: {\n        contents: [{ role: 'user', parts: [{ text: prompt }] }],\n        generationConfig: {\n          temperature: 0.4, maxOutputTokens: 400, thinkingConfig: { thinkingBudget: 0 },\n          ...gen\n        }\n      },\n      json: true,\n      timeout: LP.timeoutMs,\n    });\n    return {\n      ok: true,\n      text: r.candidates?.[0]?.content?.parts?.[0]?.text || '',\n      finishReason: r.candidates?.[0]?.finishReason || 'unknown',\n      attempt: _att,\n    };\n  } catch (e) {\n    const m = (e && e.message) || String(e);\n    const r429 = m.includes('429') || m.includes('RESOURCE_EXHAUSTED') || m.includes('quota');\n    const r5xx = /\\b5\\d{2}\\b/.test(m) || m.includes('UNAVAILABLE');\n    if (_att < LP.maxRetries && (r429 || r5xx)) {\n      await lpSleep(r429 ? LP.retry429Ms : LP.retry5xxMs);\n      return lpCall.call(this, { prompt, gen, _att: _att + 1 });\n    }\n    return { ok: false, text: '', error: m.substring(0, 300), attempt: _att };\n  }\n}\n\n// loop 內 N 筆呼叫之間 sleep（避免撞 RPM）\n// 用法：for (let i = 0; i < items.length; i++) { if (i > 0) await lpThrottle(); ... }\nasync function lpThrottle() { await lpSleep(LP.rpmDelayMs); }\n\n// 預檢 inline data 是否會撞 20 MB API request limit\n// 用法：if (!lpSizeOK(binary.data.data)) { /* skip 或 chunk */ }\nfunction lpSizeOK(base64OrBuf) {\n  const b = typeof base64OrBuf === 'string'\n    ? Math.floor(base64OrBuf.length * 0.75)\n    : (base64OrBuf && base64OrBuf.length) || 0;\n  return b <= LP.maxInlineBytes;\n}\n\n// ════════════════════════════════════════════════════════════\n// 業務邏輯（這裡開始是這個 workflow 特有的）\n// ════════════════════════════════════════════════════════════\n// v0.6：Code node 直接打 Gemini API + 組 Markdown + 組 binary + 組通知文（合併原本三個節點）\n\nconst webhookData = $input.first().json;\nconst question = webhookData.body?.question || webhookData.query?.question || '請告訴我什麼是 n8n？';\nconst ts = new Date().toISOString().slice(0, 19).replace(/[:T]/g, '').replace(/-/g, '');\n\nconst prompt = '請回答以下問題（繁體中文，300 字內，結構化分點）：\\n\\n' + question;\n\nlet raw;\nlet aiError = null;\n\nconst lpResult = await lpCall.call(this, {\n  prompt,\n  gen: { temperature: 0.6, maxOutputTokens: 800 }\n});\nif (lpResult.ok) {\n  raw = lpResult.text || '（AI 沒回應）';\n} else {\n  aiError = lpResult.error;\n  raw = '（AI 呼叫失敗：' + aiError + '）';\n}\n\nconst markdown = '# AI 回應 - ' + new Date().toLocaleString('zh-TW') + '\\n\\n## 問題\\n' + question + '\\n\\n## 回答\\n' + raw + '\\n';\nconst outputPath = '/files/shared/ai-output/ai-' + ts + '.md';\n// strip Telegram markdown legacy 解析字元，避免 entities error\nconst stripMD = (s) => String(s).replace(/[*_`\\[\\]]/g, '');\nconst tgMsg = '🤖 AI 回應已產生\\n\\n問：' + stripMD(question.substring(0, 100)) + '\\n\\n答：' + stripMD(raw.substring(0, 200)) + '...\\n\\n完整檔：' + outputPath;\n\nreturn [{\n  json: { outputPath, tgMsg, question, answer: raw, aiError },\n  binary: {\n    data: {\n      data: Buffer.from('\\ufeff' + (markdown), 'utf-8').toString('base64'),\n      mimeType: 'text/markdown',\n      fileName: 'ai-' + ts + '.md'\n    }\n  }\n}];"
      },
      "id": "ai-06",
      "name": "Code: AI 生答 + 組 Markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.outputPath }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "write-06",
      "name": "Write: ai-output/",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        680,
        220
      ]
    },
    {
      "parameters": {
        "chatId": "__TELEGRAM_CHAT_ID__",
        "text": "={{ $json.tgMsg }}",
        "additionalFields": {}
      },
      "id": "tg-06",
      "name": "Telegram 通知",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        680,
        380
      ],
      "credentials": {
        "telegramApi": {
          "id": "lite-pack-telegram",
          "name": "Lite Pack · Telegram Bot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r-06",
              "name": "status",
              "value": "ok",
              "type": "string"
            },
            {
              "id": "r-q-06",
              "name": "question",
              "value": "={{ $('Code: AI 生答 + 組 Markdown').first().json.question }}",
              "type": "string"
            },
            {
              "id": "r-a-06",
              "name": "answer",
              "value": "={{ $('Code: AI 生答 + 組 Markdown').first().json.answer }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "respond-06",
      "name": "Respond: 回 webhook 200",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "ai-ui",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-ui-06",
      "name": "Webhook UI: GET /ai-ui",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        720
      ],
      "webhookId": "lite-pack-06-ai-ui"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Auto-generated by inject_web_ui.py — 不要直接改這裡的 HTML，改 web-ui/06-ai-ui.html 後重 inject\nconst html = `<!DOCTYPE html>\n<html lang=\"zh-TW\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>AI 問答 · Lite Pack</title>\n<link href=\"https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;700&family=Noto+Sans+TC:wght@400;500;700&display=swap\" rel=\"stylesheet\">\n<style>\n  *,*::before,*::after{box-sizing:border-box;margin:0;padding:0}\n  body{font-family:'Noto Sans TC',sans-serif;background:#f5f3ee;color:#2c2b28;line-height:1.7;min-height:100vh;padding:48px 24px}\n  .container{max-width:760px;margin:0 auto}\n  .eyebrow{font-size:.72rem;color:#b5703a;letter-spacing:1.5px;font-weight:500;margin-bottom:10px}\n  h1{font-family:'Shippori Mincho',serif;font-size:1.8rem;font-weight:700;border-bottom:1px solid #d8d4cb;padding-bottom:14px;margin-bottom:14px}\n  .sub{color:#7a766d;font-size:.92rem;margin-bottom:32px}\n  textarea{width:100%;min-height:110px;padding:14px 16px;border:1px solid #d8d4cb;border-radius:6px;font-size:1rem;font-family:inherit;background:#fff;color:#2c2b28;resize:vertical}\n  textarea:focus{outline:none;border-color:#5a7a5a}\n  .hint{font-size:.78rem;color:#bcb8ae;margin-top:6px}\n  button{padding:11px 32px;background:#5a7a5a;color:white;border:none;border-radius:6px;cursor:pointer;font-size:.95rem;font-weight:500;margin-top:14px;font-family:inherit}\n  button:hover{background:#4a6a4a}\n  button:disabled{opacity:.5;cursor:not-allowed}\n  .result{margin-top:36px;padding:24px;background:#fff;border:1px solid #e8e4da;border-radius:6px;display:none}\n  .result.show{display:block}\n  .result-q{font-size:.85rem;color:#7a766d;margin-bottom:12px;border-bottom:1px dashed #e8e4da;padding-bottom:10px}\n  .result-a{font-size:.95rem;line-height:1.85;white-space:pre-wrap}\n  .meta{margin-top:24px;padding-top:16px;border-top:1px solid #e8e4da;font-size:.82rem;color:#7a766d}\n  .meta-label{color:#b5703a;font-weight:600;font-size:.75rem;letter-spacing:1px}\n  .loading{color:#7a766d;font-style:italic}\n  .error{color:#c14a3a;background:#faf0ee;padding:14px;border-radius:6px;border:1px solid #e8d4d0}\n  .examples{margin-top:24px;display:flex;gap:8px;flex-wrap:wrap}\n  .ex-chip{font-size:.78rem;color:#7a766d;border:1px solid #d8d4cb;background:#fff;padding:5px 12px;border-radius:99px;cursor:pointer;font-family:inherit}\n  .ex-chip:hover{color:#5a7a5a;border-color:#5a7a5a}\n  .footer{margin-top:48px;padding-top:24px;border-top:1px solid #e8e4da;font-size:.78rem;color:#bcb8ae;text-align:center}\n  code{background:#edeae3;padding:2px 6px;border-radius:3px;font-size:.85rem}\n</style>\n</head>\n<body>\n<div class=\"container\">\n  <div class=\"eyebrow\">LITE PACK · #06</div>\n  <h1>🤖 AI 問答</h1>\n  <p class=\"sub\">問問題 → AI 生答 → 自動存到 <code>ai-output/</code> 為 .md 檔 + Telegram 通知。適合做「外部觸發 AI + 落地」的範本。</p>\n\n  <textarea id=\"q\" placeholder=\"輸入你的問題...\"></textarea>\n  <p class=\"hint\">Ctrl/Cmd + Enter 快速送出</p>\n\n  <div class=\"examples\">\n    <button class=\"ex-chip\" onclick=\"setQ('解釋什麼是 prompt engineering，繁中 200 字內')\">解釋 prompt engineering</button>\n    <button class=\"ex-chip\" onclick=\"setQ('幫我寫一封給客戶的延遲交付道歉信')\">寫道歉信</button>\n    <button class=\"ex-chip\" onclick=\"setQ('今天有什麼適合 5 分鐘的快速 AI 練習？')\">5 分鐘練習</button>\n  </div>\n\n  <button id=\"askBtn\" onclick=\"ask()\">問</button>\n\n  <div id=\"result\" class=\"result\"></div>\n\n  <div class=\"footer\">\n    <strong>使用前確認</strong>：此 workflow Active = ON（不然 webhook 不接受 production POST）<br>\n    POST endpoint：<code>/webhook/ai-ask</code> · GET 此頁面：<code>/webhook/ai-ui</code>\n  </div>\n</div>\n\n<script>\nfunction setQ(s){document.getElementById('q').value=s;}\nfunction escapeHtml(s){return String(s).replace(/[<>&\"']/g,c=>({'<':'&lt;','>':'&gt;','&':'&amp;','\"':'&quot;',\"'\":'&#39;'}[c]))}\n\nasync function ask(){\n  const q=document.getElementById('q').value.trim();\n  if(!q){return;}\n  const btn=document.getElementById('askBtn');\n  const result=document.getElementById('result');\n  btn.disabled=true;btn.textContent='思考中...';\n  result.classList.add('show');\n  result.innerHTML='<div class=\"loading\">AI 處理中... 答覆會同時寫到 ai-output/ + 推 Telegram</div>';\n\n  try{\n    const r=await fetch('/webhook/ai-ask',{\n      method:'POST',\n      headers:{'Content-Type':'application/json'},\n      body:JSON.stringify({question:q})\n    });\n    if(!r.ok){throw new Error('HTTP '+r.status+' — 確認 #06 workflow Active = ON');}\n    const data=await r.json();\n\n    let html='<div class=\"result-q\"><strong>Q：</strong>'+escapeHtml(data.question||q)+'</div>';\n    html+='<div class=\"result-a\">'+escapeHtml(data.answer||data.markdown||'無答覆')+'</div>';\n    if(data.outputPath||data.savedTo){\n      html+='<div class=\"meta\"><div class=\"meta-label\">已寫入檔案</div>'+escapeHtml(data.outputPath||data.savedTo)+'</div>';\n    }\n    if(data.telegramSent){\n      html+='<div class=\"meta\"><div class=\"meta-label\">Telegram</div>已通知</div>';\n    }\n    result.innerHTML=html;\n  }catch(e){\n    result.innerHTML='<div class=\"error\"><strong>錯誤：</strong>'+escapeHtml(e.message)+'</div>';\n  }\n  btn.disabled=false;btn.textContent='問';\n}\n\ndocument.getElementById('q').addEventListener('keydown',e=>{\n  if((e.ctrlKey||e.metaKey)&&e.key==='Enter'){ask();}\n});\n</script>\n</body>\n</html>\n`;\nreturn [{ json: { html } }];"
      },
      "id": "code-html-ui-06",
      "name": "Code: 組 HTML (ai-ui)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        720
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "respond-ui-06",
      "name": "Respond UI: HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        680,
        720
      ]
    }
  ],
  "connections": {
    "Webhook: ai-ask": {
      "main": [
        [
          {
            "node": "Code: AI 生答 + 組 Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: AI 生答 + 組 Markdown": {
      "main": [
        [
          {
            "node": "Write: ai-output/",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram 通知",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond: 回 webhook 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook UI: GET /ai-ui": {
      "main": [
        [
          {
            "node": "Code: 組 HTML (ai-ui)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: 組 HTML (ai-ui)": {
      "main": [
        [
          {
            "node": "Respond UI: HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "lite-pack-06-webhook-gemini-file",
  "tags": [
    {
      "name": "lite-pack",
      "id": "tag-lite-pack"
    },
    {
      "name": "module-1",
      "id": "tag-module-1"
    }
  ]
}