courses/n8n/assets/n8n-lite-pack/workflows/07-quick-tunnel-receiver.json
{
  "name": "07 · Quick Tunnel 接外部觸發",
  "meta": {
    "_litePackNote": "Lite Pack #7：Production webhook 配 Cloudflare Quick Tunnel 公開觸發。"
  },
  "nodes": [
    {
      "parameters": {
        "content": "## #7 Quick Tunnel 接外部觸發\n\n**目的**：把 webhook 變成「公開可呼叫」，讓 Make / 手機 / 朋友 / 任何網路服務都能觸發。\n\n**測試方法**：\n1. 雙擊 ~/Downloads/n8n-starter-kit/tunnel-quick.command 拿到 https://xxxx.trycloudflare.com URL\n2. 本 workflow 右上「Active」開啟（Production mode，URL 不會 expire）\n3. 在另一個裝置（手機 / 朋友電腦）打開瀏覽器，貼：\n   `https://你的網址.trycloudflare.com/webhook/external-ping`\n4. 你電腦的 Telegram 應收到「📡 外部 ping 收到」通知\n\n**重點**：本 workflow 用 /webhook/ 不是 /webhook-test/，這是 production webhook，需要 workflow Active。\n\n**改造方向**：\n- 加 query string parsing 讓外部傳資料（例如 ?name=Alice）\n- 串 #6 邏輯（用 Execute Workflow node）讓外部觸發 AI 問答\n- 加 Header Auth 安全驗證（避免機器人亂打）",
        "height": 480,
        "width": 380
      },
      "id": "sticky-07",
      "name": "📌 使用說明",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -280,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "external-ping",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-07",
      "name": "Webhook: external-ping",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "lite-pack-07-external-ping"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// 收外部請求 → 組 Telegram 通知文 + Webhook 回應\nconst headers = $input.first().json.headers || {};\nconst query = $input.first().json.query || {};\nconst ip = headers['cf-connecting-ip'] || headers['x-forwarded-for'] || 'unknown';\nconst ua = headers['user-agent'] || 'unknown';\nconst ts = new Date().toLocaleString('zh-TW');\n\nconst tgMsg = `📡 外部 ping 收到！\\n\\n⏰ ${ts}\\n🌐 IP: ${ip}\\n🤖 User-Agent: ${ua.substring(0, 80)}\\n📦 Query: ${JSON.stringify(query)}\\n\\n（你的本機 n8n 正在被外部觸發！）`;\n\nreturn [{\n  json: {\n    tgMsg,\n    response: {\n      status: 'ok',\n      message: 'pong from your local n8n via cloudflare tunnel',\n      receivedAt: ts,\n      from: ip\n    }\n  }\n}];"
      },
      "id": "code-07",
      "name": "Code: 解析外部請求",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "__TELEGRAM_CHAT_ID__",
        "text": "={{ $json.tgMsg }}",
        "additionalFields": {}
      },
      "id": "tg-07",
      "name": "Telegram 通知",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        680,
        220
      ],
      "credentials": {
        "telegramApi": {
          "id": "lite-pack-telegram",
          "name": "Lite Pack · Telegram Bot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1-07",
              "name": "status",
              "value": "ok",
              "type": "string"
            },
            {
              "id": "r2-07",
              "name": "message",
              "value": "pong from your local n8n via cloudflare tunnel",
              "type": "string"
            },
            {
              "id": "r3-07",
              "name": "received_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "respond-07",
      "name": "Respond: pong",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        380
      ]
    }
  ],
  "connections": {
    "Webhook: external-ping": {
      "main": [
        [
          {
            "node": "Code: 解析外部請求",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: 解析外部請求": {
      "main": [
        [
          {
            "node": "Telegram 通知",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond: pong",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "lite-pack-07-quick-tunnel-receiver",
  "tags": [
    {
      "name": "lite-pack",
      "id": "tag-lite-pack"
    },
    {
      "name": "module-1-2",
      "id": "tag-module-1-2"
    }
  ]
}