courses/n8n/assets/n8n-lite-pack/workflows/09-gmail-categorize.json
{
  "name": "09 · Gmail 分類通知",
  "meta": {
    "_litePackNote": "v0.9：Gmail Trigger 每 N 分鐘 polling 新信 → Code 節點打 Gemini 分類（客訴/詢問/合約/其他）→ Switch 4 路由 → Telegram 緊急通知 / Set 整理結構。\n注意：這個 workflow 需要學員「自建 Gmail OAuth credential」（Lite Pack setup-wizard 沒辦法幫你建，因為要走 Google Cloud Project + OAuth 授權流程）。詳見 lessons/m0-workflow-09-gmail.html。預設 Active=false 避免 import 後立刻 polling 失敗。"
  },
  "nodes": [
    {
      "parameters": {
        "content": "## #9 Gmail 分類通知\n\n**目的**：Make 等效的「信箱分類通知」，但跑在你本機 + 沒 ops 上限 + 可換本地 LLM。\n\n**架構**：Gmail Trigger（5 分鐘 polling）→ Code: AI 分類 → Switch 4 路由 → 各通道輸出。\n\n**前置（必做，半小時）**：\n1. Google Cloud Console 建 Project\n2. 啟用 Gmail API\n3. 建 OAuth 2.0 Client（Web application）\n4. 加 redirect URI：http://localhost:5678/rest/oauth2-credential/callback\n5. 拿 client_id + client_secret\n6. n8n UI Credentials → New → Gmail OAuth2 → 貼 client_id/secret → Connect 走 OAuth 流程\n\n**為什麼複雜**：Gmail OAuth 不像 Telegram bot token 直接給字串，必須走 Google 的授權同意流程，需要 redirect URI 對應到本機 n8n。\n\n**測試**：把這個 workflow Active 打開後 → 寄一封測試信到你 Gmail → 5 分鐘內 Telegram 收到分類通知（如果分類為「客訴」）。\n\n**改造**：把 Gemini 換成本地 Ollama / Llama 3 → 信件內容完全不離開本機。詳見講義。",
        "height": 540,
        "width": 380
      },
      "id": "sticky-09",
      "name": "📌 使用說明",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -280,
        0
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "id": "trigger-09",
      "name": "Gmail Trigger: 新信 polling",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ],
      "notes": "polling 頻率：每分鐘掃一次（測試用）。生產環境建議改 5-15 分鐘減少 API 額度消耗"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Lite Pack v1.2 · LLM helper（共用骨架，下面業務邏輯維持原樣）\n// ⚠ 本 workflow 每筆 input 都打 1 次 LLM API。\n// 若處理 > 10 筆 → 在 loop 內加 `if (i > 0) await lpThrottle();`\n// 否則撞 Free tier 10 RPM 上限會 429。\n\n// ════════════════════════════════════════════════════════════\n// Lite Pack v1.2 · LLM Helper（共用骨架）\n//\n// 這段 inject 到每個用 Gemini 的 workflow Code node 開頭。\n// 學員客製 workflow 時：\n//   - 改 LP_CONFIG → 統一調整 model / timeout / retry / RPM\n//   - 用 lpCall(...) 呼叫 LLM → 自動 throttle + retry + 429 處理\n//   - 用 lpSizeOK(...) 預檢 inline data → 避免撞 20 MB API limit\n//   - 用 lpThrottle() → loop 內呼叫之間 sleep\n//\n// 換 LLM provider（Gemini → Claude / OpenAI）：只改 lpCall 內的 url/headers/body shape，\n// 業務邏輯不動。\n// ════════════════════════════════════════════════════════════\nconst LP = {\n  apiKey: '__GEMINI_API_KEY__',\n  model: 'gemini-2.5-flash',\n  endpoint: 'https://generativelanguage.googleapis.com/v1beta/models',\n  rpmDelayMs: 6500,                       // Free tier 10 RPM；paid 改 1000\n  maxRetries: 3,\n  retry429Ms: 60000,                      // 429 等 60s（quota window）\n  retry5xxMs: 5000,                       // 5xx 等 5s\n  timeoutMs: 30000,\n  maxInlineBytes: 18 * 1024 * 1024,       // 18 MB（保留 buffer to 20 MB hard limit）\n};\n\nconst lpSleep = ms => new Promise(r => setTimeout(r, ms));\n\n// 主呼叫：自動 retry 429/5xx\n// 用法：const r = await lpCall.call(this, { prompt, gen: { maxOutputTokens: 200 } });\n//      if (r.ok) use r.text; else use r.error\nasync function lpCall({ prompt, gen = {}, _att = 0 }) {\n  if (!prompt || typeof prompt !== 'string') return { ok: false, text: '', error: 'empty prompt' };\n  try {\n    const r = await this.helpers.httpRequest({\n      method: 'POST',\n      url: LP.endpoint + '/' + LP.model + ':generateContent',\n      headers: { 'Content-Type': 'application/json', 'x-goog-api-key': LP.apiKey },\n      body: {\n        contents: [{ role: 'user', parts: [{ text: prompt }] }],\n        generationConfig: {\n          temperature: 0.4, maxOutputTokens: 400, thinkingConfig: { thinkingBudget: 0 },\n          ...gen\n        }\n      },\n      json: true,\n      timeout: LP.timeoutMs,\n    });\n    return {\n      ok: true,\n      text: r.candidates?.[0]?.content?.parts?.[0]?.text || '',\n      finishReason: r.candidates?.[0]?.finishReason || 'unknown',\n      attempt: _att,\n    };\n  } catch (e) {\n    const m = (e && e.message) || String(e);\n    const r429 = m.includes('429') || m.includes('RESOURCE_EXHAUSTED') || m.includes('quota');\n    const r5xx = /\\b5\\d{2}\\b/.test(m) || m.includes('UNAVAILABLE');\n    if (_att < LP.maxRetries && (r429 || r5xx)) {\n      await lpSleep(r429 ? LP.retry429Ms : LP.retry5xxMs);\n      return lpCall.call(this, { prompt, gen, _att: _att + 1 });\n    }\n    return { ok: false, text: '', error: m.substring(0, 300), attempt: _att };\n  }\n}\n\n// loop 內 N 筆呼叫之間 sleep（避免撞 RPM）\n// 用法：for (let i = 0; i < items.length; i++) { if (i > 0) await lpThrottle(); ... }\nasync function lpThrottle() { await lpSleep(LP.rpmDelayMs); }\n\n// 預檢 inline data 是否會撞 20 MB API request limit\n// 用法：if (!lpSizeOK(binary.data.data)) { /* skip 或 chunk */ }\nfunction lpSizeOK(base64OrBuf) {\n  const b = typeof base64OrBuf === 'string'\n    ? Math.floor(base64OrBuf.length * 0.75)\n    : (base64OrBuf && base64OrBuf.length) || 0;\n  return b <= LP.maxInlineBytes;\n}\n\n// ════════════════════════════════════════════════════════════\n// 業務邏輯（這裡開始是這個 workflow 特有的）\n// ════════════════════════════════════════════════════════════\n// v0.9：對 Gmail Trigger 推來的每封新信，打 Gemini 分類\n\nconst items = $input.all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const mail = items[i].json;\n  if (i > 0) await lpThrottle();  // v1.2: avoid 10 RPM Gemini Free tier 429\n  const subject = mail.subject || '(無主旨)';\n  const from = mail.from?.value?.[0]?.address || mail.from || '(未知寄件人)';\n  const snippet = (mail.snippet || mail.text || '').substring(0, 500);\n\n  const prompt = '你是公司客服信箱的分類助手。請對下面這封信分類成 4 類之一：\\n' +\n    '- 客訴（angry / 投訴 / 退費 / bug 回報，需立即處理）\\n' +\n    '- 詢問（產品問題 / 報價 / 一般問答）\\n' +\n    '- 合約（合約 / 報價單 / 含 PDF 附件）\\n' +\n    '- 其他（廣告 / 通知 / 系統信 / 訂閱）\\n\\n' +\n    '回 JSON 格式（不要 markdown 包裹）：\\n' +\n    '{\"category\": \"客訴\", \"urgency\": \"high\", \"reason\": \"包含投訴用語\"}\\n\\n' +\n    'urgency 取值：high / normal / low\\n\\n' +\n    '<信件>\\n寄件人：' + from + '\\n主旨：' + subject + '\\n內文摘要：' + snippet + '\\n</信件>';\n\n  let category = '其他';\n  let urgency = 'low';\n  let reason = 'AI 解析失敗使用預設';\n  let aiError = null;\n\n  const lpResult = await lpCall.call(this, {\n    prompt,\n    gen: { temperature: 0.2, maxOutputTokens: 200 }\n  });\n  if (lpResult.ok) {\n    try {\n      const cleaned = lpResult.text.replace(/^```\\w*\\n?/, '').replace(/\\n?```$/, '').trim();\n      const m = cleaned.match(/\\{[\\s\\S]*?\\}/);\n      if (m) {\n        const parsed = JSON.parse(m[0]);\n        if (['客訴', '詢問', '合約', '其他'].includes(parsed.category)) category = parsed.category;\n        if (['high', 'normal', 'low'].includes(parsed.urgency)) urgency = parsed.urgency;\n        reason = parsed.reason || reason;\n      }\n    } catch (parseErr) {\n      aiError = 'parse error: ' + (parseErr.message || String(parseErr));\n    }\n  } else {\n    aiError = lpResult.error;\n  }\n\n  results.push({\n    json: {\n      from, subject, snippet,\n      category, urgency, reason, aiError,\n      messageId: mail.id,\n      receivedAt: mail.date || new Date().toISOString()\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "ai-09",
      "name": "Code: AI 分類（含 Gemini call）",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "客訴",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "客訴"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "詢問",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "詢問"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "合約",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "合約"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "其他"
        }
      },
      "id": "switch-09",
      "name": "Switch: 4 路由",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "__TELEGRAM_CHAT_ID__",
        "text": "={{ '🚨 客訴緊急通知\\n\\n寄件人：' + $json.from + '\\n主旨：' + $json.subject + '\\n緊急度：' + $json.urgency + '\\n\\nAI 判斷：' + $json.reason + '\\n\\n摘要：' + $json.snippet.substring(0, 200) }}",
        "additionalFields": {}
      },
      "id": "tg-complaint-09",
      "name": "Telegram: 客訴緊急通知",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        900,
        120
      ],
      "credentials": {
        "telegramApi": {
          "id": "lite-pack-telegram",
          "name": "Lite Pack · Telegram Bot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "q-1",
              "name": "category",
              "value": "詢問",
              "type": "string"
            },
            {
              "id": "q-2",
              "name": "from",
              "value": "={{ $json.from }}",
              "type": "string"
            },
            {
              "id": "q-3",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "q-4",
              "name": "snippet",
              "value": "={{ $json.snippet }}",
              "type": "string"
            },
            {
              "id": "q-5",
              "name": "note",
              "value": "改造方向：串 Google Sheets / Notion 加待辦",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-question-09",
      "name": "Set: 詢問 → 待辦（改造點）",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c-1",
              "name": "category",
              "value": "合約",
              "type": "string"
            },
            {
              "id": "c-2",
              "name": "from",
              "value": "={{ $json.from }}",
              "type": "string"
            },
            {
              "id": "c-3",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "c-4",
              "name": "messageId",
              "value": "={{ $json.messageId }}",
              "type": "string"
            },
            {
              "id": "c-5",
              "name": "note",
              "value": "改造方向：抓附件丟給 #02 PDF AI 改名自動歸檔",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-contract-09",
      "name": "Set: 合約 → 待歸檔（改造點）",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        440
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "o-1",
              "name": "category",
              "value": "其他",
              "type": "string"
            },
            {
              "id": "o-2",
              "name": "from",
              "value": "={{ $json.from }}",
              "type": "string"
            },
            {
              "id": "o-3",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "o-4",
              "name": "skipped",
              "value": "true",
              "type": "boolean"
            },
            {
              "id": "o-5",
              "name": "note",
              "value": "廣告 / 通知 / 系統信 — 預設略過",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-other-09",
      "name": "Set: 其他 → 略過",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        600
      ]
    }
  ],
  "connections": {
    "Gmail Trigger: 新信 polling": {
      "main": [
        [
          {
            "node": "Code: AI 分類（含 Gemini call）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: AI 分類（含 Gemini call）": {
      "main": [
        [
          {
            "node": "Switch: 4 路由",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: 4 路由": {
      "main": [
        [
          {
            "node": "Telegram: 客訴緊急通知",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set: 詢問 → 待辦（改造點）",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set: 合約 → 待歸檔（改造點）",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set: 其他 → 略過",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "lite-pack-09-gmail-categorize",
  "tags": [
    {
      "name": "lite-pack",
      "id": "tag-lite-pack"
    },
    {
      "name": "module-4",
      "id": "tag-module-4"
    }
  ]
}