courses/n8n/assets/n8n-lite-pack/workflows/10-folder-organize.json
{
  "name": "10 · 客戶資料夾自動整理",
  "meta": {
    "_litePackNote": "v1.7：(1) 檔名唯一性檢查（修 4 PPTX 變 3 個的資料消失 bug）(2) PDF 內容感知 rule-based（用 PDF 內文判合約/報價）(3) prompt 強調保留 01/02 編號 (4) batch 統計加 inputCount vs outputCount。"
  },
  "nodes": [
    {
      "parameters": {
        "content": "## #10 客戶資料夾自動整理與交接包（v1.7）\n\n**目的**：客戶檔案資料夾混亂 → 自動分類、命名、歸檔 + Markdown index 交接清單。\n\n**v1.7 重要修補**：\n- 檔名唯一性檢查：AI 給兩個檔同一個新名時，自動加 `_2` `_3` 後綴避免覆蓋（修「4 個 PPTX 變 3 個」資料消失 bug）\n- PDF 內容感知 rule-based：AI 失敗時，用 PDF 解出的內文掃合約/報價/NDA 等關鍵字，比純檔名分類更準\n- Prompt 強化：明確要求保留檔名中的數字編號（01/02/03/04），避免命名衝突\n- Batch 統計：第一個 item 的 `_batchInfo` 加 `inputCount` / `outputCount` / `dedupCount`\n\n**雙引擎設計**：Gemini 批次 AI（主）+ rule-based 檔名/內文（副）。\n\n**Rule-based fallback 規則**：\n- 合約/NDA/授權/同意 → contracts\n- 發票/報價/估價/帳單/收據 → invoices\n- .pptx / 簡報/投影片/提案 → presentations\n- 會議/紀錄/逐字稿 → docs/紀錄\n- 提示詞/教材/講義/手冊/教學 → docs/教材\n- 其他 → docs/文件\n- .jpg/.png 等 → images（永遠副檔名直送）\n\n**Debug**：Code output 第一個 item 含 `_batchInfo` 含 `inputCount` / `outputCount` / `dedupCount` / `aiSucceeded` / `ruleFallback`。\n\n**Gemini Free Tier 限制**：10 RPM / 250 RPD。一天測太多次會撞 RPM，這時 rule-based 會接手 — 你不會看到全部進 others。",
        "height": 700,
        "width": 380
      },
      "id": "sticky-10",
      "name": "📌 使用說明",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-280, -120]
    },
    {
      "parameters": {},
      "id": "trigger-10",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "fileSelector": "/files/shared/client-inbox/*",
        "options": {}
      },
      "id": "read-10",
      "name": "Read 所有檔案",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.data.fileExtension }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "其他（含 docx/圖/CSV）"
        }
      },
      "id": "switch-10",
      "name": "Switch: 副檔名分流",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "extract-pdf-10",
      "name": "Extract PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [860, 200]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "extract-text-10",
      "name": "Extract 純文字",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [860, 400],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// v1.7：批次 AI + rule-based fallback + 檔名唯一性檢查 + PDF 內容感知\n\nconst GEMINI_API_KEY = '__GEMINI_API_KEY__';\nconst CHUNK_SIZE = 5;\nconst INTER_CHUNK_DELAY = 7000;\nconst RETRY_429_WAIT = 60000;\n\nconst today = new Date().toISOString().slice(0, 10).replace(/-/g, '');\nconst items = $input.all();\nconst allReadItems = $('Read 所有檔案').all();\n\nfunction sleep(ms) { return new Promise(r => setTimeout(r, ms)); }\nfunction cleanLeadingDigits(name) {\n  const noExt = name.replace(/\\.[^.]+$/, '');\n  const cleaned = noExt.replace(/^[\\s\\-_.()【】]+/, '').trim();\n  // 保留前綴的數字編號（01/02/03）以避免命名衝突\n  return cleaned || noExt;\n}\nfunction filterPrintable(text) {\n  if (!text || typeof text !== 'string') return '';\n  const printableMatches = text.match(/[\\u4e00-\\u9fff\\u3000-\\u303f\\uff00-\\uffefa-zA-Z0-9\\s.,!?;:()\\[\\]{}\\-+=\"'\\/_*&%$#@~|<>]/g);\n  const ratio = printableMatches ? printableMatches.length / text.length : 0;\n  return ratio > 0.7 ? text.substring(0, 800) : '';\n}\n\n// Rule-based 檔名分類\nfunction classifyByFilename(name, ext) {\n  const n = name.toLowerCase();\n  const e = (ext || '').toLowerCase();\n\n  if (['jpg', 'jpeg', 'png', 'gif', 'webp', 'heic', 'svg', 'bmp', 'tiff'].includes(e)) {\n    return { category: 'images', semanticType: '圖片' };\n  }\n  if (['ppt', 'pptx', 'key'].includes(e) || /簡報|投影片|提案|pitch|proposal|kickoff|deck/i.test(n)) {\n    return { category: 'presentations', semanticType: '簡報' };\n  }\n  if (/合約|協議|nda|授權書|同意書|條款/i.test(n)) {\n    return { category: 'contracts', semanticType: '合約' };\n  }\n  if (/發票|收據|報價|估價|帳單|對帳|訂單|invoice|quote/i.test(n)) {\n    return { category: 'invoices', semanticType: '報價' };\n  }\n  if (/會議|紀錄|逐字稿|memo|minutes|meeting/i.test(n)) {\n    return { category: 'docs', semanticType: '紀錄' };\n  }\n  if (/提示詞|prompt|教材|講義|手冊|教學|課程/i.test(n)) {\n    return { category: 'docs', semanticType: '教材' };\n  }\n  if (/規格|spec|brief|需求/i.test(n)) {\n    return { category: 'docs', semanticType: '規格' };\n  }\n  if (/報告|report|分析|analysis/i.test(n)) {\n    return { category: 'docs', semanticType: '報告' };\n  }\n  return null;  // 沒命中 — 讓 caller 決定要 fallback to content scan or 'docs/文件'\n}\n\n// PDF 內容感知 rule-based — 掃文字找關鍵字\nfunction classifyByContent(text) {\n  if (!text || text.length < 30) return null;\n  const t = text.substring(0, 1500).toLowerCase();\n  if (/合約|協議|nda|授權書|同意書|條款|甲方.*乙方|nondisclosure/i.test(t)) {\n    return { category: 'contracts', semanticType: '合約' };\n  }\n  if (/發票|收據|報價|估價|帳單|對帳|金額.*nt\\$|invoice|quote|稅金/i.test(t)) {\n    return { category: 'invoices', semanticType: '報價' };\n  }\n  if (/簡報|投影片|提案/i.test(t)) {\n    return { category: 'presentations', semanticType: '簡報' };\n  }\n  if (/會議|紀錄|memo|minutes|出席|議題|待辦/i.test(t)) {\n    return { category: 'docs', semanticType: '紀錄' };\n  }\n  if (/提示詞|prompt engineering|教材|講義|教學|課程/i.test(t)) {\n    return { category: 'docs', semanticType: '教材' };\n  }\n  return null;\n}\n\nfunction smartFallback(originalName, fileExt, usableText) {\n  // 第一層：檔名規則\n  const byName = classifyByFilename(originalName, fileExt);\n  if (byName) return byName;\n  // 第二層：內容規則（給 PDF 用 — 文字夠多時）\n  const byContent = classifyByContent(usableText);\n  if (byContent) return byContent;\n  // 兜底\n  return { category: 'docs', semanticType: '文件' };\n}\n\nconst CATEGORIES = ['contracts','invoices','presentations','docs','images','others'];\nconst imgExts = ['jpg', 'jpeg', 'png', 'gif', 'webp', 'heic', 'svg', 'bmp', 'tiff'];\n\n// Phase 1：整理 + 圖片快速分類\nconst processed = [];\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const binFileName = item.binary?.data?.fileName;\n  const readItem = allReadItems.find(r => r?.json?.fileName === binFileName) || allReadItems[i];\n  if (!readItem?.binary?.data) continue;\n\n  const originalName = readItem.json.fileName || ('unknown-' + i);\n  const fileExt = (readItem.json.fileExtension || '').toLowerCase();\n  const rawText = item.json.text ?? item.json.data ?? '';\n  const usableText = filterPrintable(rawText);\n\n  const base = {\n    idx: i, originalName, fileExt, usableText, binary: readItem.binary,\n    category: null, newName: null, aiUsed: false, aiError: null\n  };\n\n  if (imgExts.includes(fileExt)) {\n    base.category = 'images';\n    base.newName = today + '_圖片_' + cleanLeadingDigits(originalName);\n  }\n\n  processed.push(base);\n}\n\n// Phase 2：批次 AI 呼叫\nconst needsAI = processed.filter(p => !p.category);\nconst chunks = [];\nfor (let i = 0; i < needsAI.length; i += CHUNK_SIZE) chunks.push(needsAI.slice(i, i + CHUNK_SIZE));\n\nconst t0 = Date.now();\nconst batchInfo = {\n  inputCount: items.length,\n  outputCount: 0,\n  dedupCount: 0,\n  chunks: chunks.length,\n  aiCalls: 0,\n  totalMs: 0,\n  batchErrors: [],\n  aiSucceeded: 0,\n  ruleFallback: 0\n};\n\nasync function callGeminiBatch(chunk) {\n  const filesPart = chunk.map((f, idx) => {\n    const docxHint = ['docx', 'xlsx', 'pptx'].includes(f.fileExt) ? '\\n注意：Office 檔（' + f.fileExt + '）無法擷取內文，請用檔名分類' : '';\n    const contentPart = f.usableText ? '\\n內容摘要：' + f.usableText : '\\n（無法擷取內文，憑檔名分類）';\n    return '<檔案 ' + (idx + 1) + '>\\n檔名：' + f.originalName + '\\n副檔名：' + f.fileExt + docxHint + contentPart + '\\n</檔案 ' + (idx + 1) + '>';\n  }).join('\\n\\n');\n\n  const prompt = '你是檔案歸檔助手。對下面 ' + chunk.length + ' 份檔案分類成 6 類之一，並取語意化檔名。\\n\\n' +\n    '**類別定義**（看不出明確類型時優先選 docs；only fallback 到 others 在真的什麼都不像）：\\n' +\n    '- contracts：合約 / 協議 / NDA / 條款 / 授權書\\n' +\n    '- invoices：發票 / 收據 / 報價單 / 估價單 / 帳單\\n' +\n    '- presentations：簡報 / 投影片 / 提案 / pitch deck\\n' +\n    '- docs：所有文字內容文件（手冊 / 說明書 / 筆記 / 會議記錄 / 課程教材 / 教學講義 / 報告 / 任何 .txt/.md/.docx）\\n' +\n    '- images：圖片 / 截圖 / 設計稿\\n' +\n    '- others：真的什麼都不像時才選\\n\\n' +\n    '**重要：保留檔名中的數字編號**\\n' +\n    '如果檔名有 01/02/03 等編號，新檔名必須保留該編號以避免衝突。例：\\n' +\n    '- 中小企業AI實務01.pptx → 20260506_簡報_中小企業AI實務01（保留 01）\\n' +\n    '- 中小企業AI實務02.pptx → 20260506_簡報_中小企業AI實務02（保留 02）\\n' +\n    '- 01提示詞基礎.docx → 20260506_教材_提示詞基礎（前置編號可移除，因檔名其餘部分已唯一）\\n\\n' +\n    '**範例**：\\n' +\n    '- 合約_NDA_客戶A.pdf → {\"category\":\"contracts\",\"newName\":\"' + today + '_合約_客戶A NDA\"}\\n' +\n    '- Q3-報價單.pdf → {\"category\":\"invoices\",\"newName\":\"' + today + '_報價_Q3\"}\\n' +\n    '- 客戶提案-v1.pptx → {\"category\":\"presentations\",\"newName\":\"' + today + '_簡報_客戶提案v1\"}\\n' +\n    '- 中小企業AI實務01.pptx → {\"category\":\"presentations\",\"newName\":\"' + today + '_簡報_中小企業AI實務01\"}\\n' +\n    '- 中小企業AI實務02.pptx → {\"category\":\"presentations\",\"newName\":\"' + today + '_簡報_中小企業AI實務02\"}\\n' +\n    '- 虛擬會議逐字稿.docx → {\"category\":\"docs\",\"newName\":\"' + today + '_紀錄_虛擬會議逐字稿\"}\\n\\n' +\n    '**輸出規則**：嚴格只回 JSON array，array 順序與輸入檔案順序一致，array 長度必須是 ' + chunk.length + '。\\n' +\n    '不要 markdown 包裹。\\n\\n' +\n    '格式：[{\"category\":\"xxx\",\"newName\":\"' + today + '_類型_關鍵字\"}, ...]\\n\\n' +\n    filesPart;\n\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent',\n    headers: { 'Content-Type': 'application/json', 'x-goog-api-key': GEMINI_API_KEY },\n    body: {\n      contents: [{ role: 'user', parts: [{ text: prompt }] }],\n      generationConfig: { temperature: 0.2, maxOutputTokens: 1500, thinkingConfig: { thinkingBudget: 0 } }\n    },\n    json: true,\n    timeout: 60000\n  });\n  const aiResp = response.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  const cleaned = aiResp.replace(/^```\\w*\\n?/, '').replace(/\\n?```$/, '').trim();\n  const m = cleaned.match(/\\[[\\s\\S]*\\]/);\n  if (!m) throw new Error('no JSON array in AI response: ' + cleaned.substring(0, 200));\n  const arr = JSON.parse(m[0]);\n  if (!Array.isArray(arr)) throw new Error('AI response is not an array');\n  return arr;\n}\n\nfor (let cIdx = 0; cIdx < chunks.length; cIdx++) {\n  if (cIdx > 0) await sleep(INTER_CHUNK_DELAY);\n\n  const chunk = chunks[cIdx];\n  let arr = null;\n  let lastError = null;\n  for (let attempt = 0; attempt < 2; attempt++) {\n    batchInfo.aiCalls++;\n    try {\n      arr = await callGeminiBatch(chunk);\n      lastError = null;\n      break;\n    } catch (err) {\n      lastError = err.message || String(err);\n      if (lastError.includes('429') && attempt === 0) {\n        await sleep(RETRY_429_WAIT);\n        continue;\n      }\n      break;\n    }\n  }\n\n  if (lastError) batchInfo.batchErrors.push('chunk ' + cIdx + ': ' + lastError.substring(0, 100));\n\n  for (let j = 0; j < chunk.length; j++) {\n    const f = chunk[j];\n    const r = arr && arr[j] ? arr[j] : null;\n    if (r && CATEGORIES.includes(r.category)) {\n      f.category = r.category;\n      f.newName = r.newName || (today + '_' + cleanLeadingDigits(f.originalName));\n      f.aiUsed = true;\n      batchInfo.aiSucceeded++;\n    } else {\n      // AI 失敗 → smart rule-based fallback（檔名規則 + 內容規則 + 兜底）\n      f.aiError = lastError || 'AI result missing or invalid for index ' + j;\n      const ruleResult = smartFallback(f.originalName, f.fileExt, f.usableText);\n      f.category = ruleResult.category;\n      f.newName = today + '_' + ruleResult.semanticType + '_' + cleanLeadingDigits(f.originalName);\n      f.aiUsed = false;\n      batchInfo.ruleFallback++;\n    }\n  }\n}\n\nbatchInfo.totalMs = Date.now() - t0;\n\n// Phase 3：format final results + 唯一性檢查（避免覆蓋寫）\nconst seenNewNames = new Map();  // basePath → count\n\nconst results = [];\nfor (let i = 0; i < processed.length; i++) {\n  const f = processed[i];\n  if (!f.category) f.category = 'docs';\n  if (!f.newName) f.newName = today + '_文件_' + cleanLeadingDigits(f.originalName);\n\n  let newName = f.newName.replace(/[\\\\/:*?\"<>|]/g, '_').substring(0, 100);\n  if (!newName.match(/^\\d{8}_/)) newName = today + '_' + newName;\n  // 移除可能的副檔名（之後統一補回）\n  newName = newName.replace(/\\.[a-z0-9]{2,5}$/i, '');\n\n  // 唯一性檢查：以 category+basename 為 key\n  const key = f.category + '/' + newName;\n  let finalName = newName;\n  if (seenNewNames.has(key)) {\n    const count = seenNewNames.get(key) + 1;\n    seenNewNames.set(key, count);\n    finalName = newName + '_' + count;\n    batchInfo.dedupCount++;\n  } else {\n    seenNewNames.set(key, 1);\n  }\n\n  // 補回副檔名\n  if (f.fileExt) finalName = finalName + '.' + f.fileExt;\n\n  const out = {\n    json: {\n      originalName: f.originalName,\n      category: f.category,\n      newName: finalName,\n      newPath: '/files/shared/client-organized/' + f.category + '/' + finalName,\n      indexLine: '- **' + f.category + '** · ' + finalName + ' ← ' + f.originalName + (f.aiUsed ? '' : ' _(rule-based)_'),\n      aiUsed: f.aiUsed,\n      aiError: f.aiError\n    },\n    binary: f.binary\n  };\n  results.push(out);\n}\n\nbatchInfo.outputCount = results.length;\nif (results.length > 0) results[0].json._batchInfo = batchInfo;\n\nreturn results;"
      },
      "id": "ai-10",
      "name": "Code: AI 分類 + 命名",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.newPath }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "write-10",
      "name": "Write: 移到分類資料夾",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1300, 240]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            { "fieldToAggregate": "indexLine" },
            { "fieldToAggregate": "category" }
          ]
        },
        "options": {}
      },
      "id": "agg-10",
      "name": "Aggregate index lines",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1300, 380]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const data = $input.first().json;\nconst lines = data.indexLine || [];\nconst cats = data.category || [];\nconst total = lines.length;\nconst counts = {};\nfor (const c of cats) counts[c] = (counts[c] || 0) + 1;\n\nconst today = new Date().toISOString().slice(0, 10);\nconst markdown = '# 客戶資料夾整理交接包 · ' + today + '\\n\\n' +\n  '總共整理 ' + total + ' 份檔案。\\n\\n' +\n  '## 分類統計\\n' + Object.entries(counts).map(([k, v]) => '- ' + k + '：' + v + ' 份').join('\\n') + '\\n\\n' +\n  '## 檔案清單\\n' + lines.join('\\n') + '\\n\\n' +\n  '---\\n_自動產生於 ' + new Date().toLocaleString('zh-TW') + '_';\n\nconst tgMsg = '✅ 客戶資料夾整理完成\\n\\n' +\n  '總計：' + total + ' 份\\n' +\n  Object.entries(counts).map(([k, v]) => k + '：' + v).join(' / ') + '\\n\\n' +\n  '完整清單：shared/client-organized/_index.md';\n\nreturn [{\n  json: { tgMsg, indexPath: '/files/shared/client-organized/_index.md', total },\n  binary: {\n    data: {\n      data: Buffer.from(markdown).toString('base64'),\n      mimeType: 'text/markdown',\n      fileName: '_index.md'\n    }\n  }\n}];"
      },
      "id": "code-index-10",
      "name": "Code: 組 Markdown index + 通知",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 380]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.indexPath }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "write-index-10",
      "name": "Write: _index.md",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1740, 320]
    },
    {
      "parameters": {
        "chatId": "__TELEGRAM_CHAT_ID__",
        "text": "={{ $json.tgMsg }}",
        "additionalFields": {}
      },
      "id": "tg-10",
      "name": "Telegram 通知",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1740, 440],
      "credentials": {
        "telegramApi": { "id": "lite-pack-telegram", "name": "Lite Pack · Telegram Bot" }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{"node": "Read 所有檔案", "type": "main", "index": 0}]] },
    "Read 所有檔案": { "main": [[{"node": "Switch: 副檔名分流", "type": "main", "index": 0}]] },
    "Switch: 副檔名分流": {
      "main": [
        [{"node": "Extract PDF", "type": "main", "index": 0}],
        [{"node": "Extract 純文字", "type": "main", "index": 0}]
      ]
    },
    "Extract PDF": { "main": [[{"node": "Code: AI 分類 + 命名", "type": "main", "index": 0}]] },
    "Extract 純文字": { "main": [[{"node": "Code: AI 分類 + 命名", "type": "main", "index": 0}]] },
    "Code: AI 分類 + 命名": {
      "main": [[
        {"node": "Write: 移到分類資料夾", "type": "main", "index": 0},
        {"node": "Aggregate index lines", "type": "main", "index": 0}
      ]]
    },
    "Aggregate index lines": { "main": [[{"node": "Code: 組 Markdown index + 通知", "type": "main", "index": 0}]] },
    "Code: 組 Markdown index + 通知": {
      "main": [[
        {"node": "Write: _index.md", "type": "main", "index": 0},
        {"node": "Telegram 通知", "type": "main", "index": 0}
      ]]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "id": "lite-pack-10-folder-organize",
  "tags": [{"name": "lite-pack", "id": "tag-lite-pack"}, {"name": "module-3", "id": "tag-module-3"}]
}
