courses/n8n/assets/n8n-lite-pack/workflows/10-folder-organize.json
{
  "name": "10 · 客戶資料夾自動整理",
  "meta": {
    "_litePackNote": "v2.0：完整重新設計 — 不再針對個案打補釘，設計成任意 N 個輸入都正確。3-way Switch（PDF / 純文字 / Bypass）+ Read 為 source of truth + per-file fallback + 完整 diagnostics。"
  },
  "nodes": [
    {
      "parameters": {
        "content": "## #10 客戶資料夾自動整理（v2.0）\n\n**目的**：客戶檔案資料夾混亂 → 自動分類、命名、歸檔 + Markdown index 交接清單。\n\n**v2.0 設計原則**：\n- **無漏**：Code 從 Read 原始 items 迭代（不依賴下游 Extract 是否 drop）\n- **無覆蓋**：dedup map 防同名衝突，自動加 _2/_3 後綴\n- **無打結**：3-way Switch — Office/圖/怪 ext 全 bypass 不打 Extract（根本不會 silent drop）\n- **per-file fallback**：每檔獨立判 AI 成功 / rule-based / 兜底，不會一個失敗拖累整 chunk\n- **預檢早退**：N=0 友善訊息；N>50 警告但繼續\n\n**處理流程**：\n```\nRead → Switch 3-way:\n  ├─ .pdf → Extract PDF (operation:pdf) → AI\n  ├─ .txt/.md/.csv/.json/.log/.xml/.html/.rtf → Extract 純文字 → AI\n  └─ .pptx/.docx/.xlsx/.jpg/.png/* (其他全部) → Bypass → AI（憑檔名）\n→ Code 統合：textMap 查表 + 圖檔副檔名直送 + AI batch + dedup\n→ Write per-file → Aggregate → _index.md + Telegram\n```\n\n**Debug 欄位**（Code output 第一個 item 的 `_batchInfo`）：\n- `inputCount`：Read 抓到幾檔（client-inbox 實際）\n- `extractedCount`：Extract 通過數（< inputCount 表示某些檔走 Bypass，正常）\n- `imageDirectCount`：副檔名直送 images 的數量\n- `needsAICount`：要打 AI 的數量\n- `outputCount`：寫到磁碟的數量（**必須 = inputCount**）\n- `dedupCount`：因命名衝突被加 _2/_3 後綴\n- `aiSucceeded` / `ruleFallback`：AI 成功 / rule-based 的 file 數\n- `warnings`：例如 N>50 警告\n\n**Gemini Free Tier**：10 RPM / 250 RPD。撞限速 rule-based 接手。\n\n**測試矩陣**（push 前已自驗）：N=0 / N=1 / N=12 / N=50 + 各種 mixed 格式 + 中英特殊命名都過。",
        "height": 760,
        "width": 400
      },
      "id": "sticky-10",
      "name": "📌 使用說明",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -300,
        -160
      ]
    },
    {
      "parameters": {},
      "id": "trigger-10",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "fileSelector": "/files/shared/client-inbox/*",
        "options": {}
      },
      "id": "read-10",
      "name": "Read 所有檔案",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($binary.data.fileExtension || '').toLowerCase() }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ ['txt','md','csv','log','json','yml','yaml','xml','html','rtf'].includes(($binary.data.fileExtension || '').toLowerCase()) }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "純文字"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Bypass（office/圖/其他）"
        }
      },
      "id": "switch-10",
      "name": "Switch: 3-way 副檔名分流",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        640,
        300
      ],
      "notes": "v2.0 改 3-way：PDF / 純文字（保證可讀的 ext）/ 其他全部 bypass Extract"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "extract-pdf-10",
      "name": "Extract PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        860,
        140
      ],
      "notes": "operation:pdf → pdfjs 解析"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "extract-text-10",
      "name": "Extract 純文字",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        860,
        300
      ],
      "onError": "continueRegularOutput",
      "notes": "operation:text → 只接 .txt/.md/.csv 等保證可讀格式（office/binary 已被 Switch 擋掉）"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// v2.0：完整重新設計 — 任意 N 個輸入都穩健\n\nconst GEMINI_API_KEY = '__GEMINI_API_KEY__';\nconst today = new Date().toISOString().slice(0, 10).replace(/-/g, '');\nconst items = $input.all();\nconst allReadItems = $('Read 所有檔案').all();\n\nfunction sleep(ms) { return new Promise(r => setTimeout(r, ms)); }\n\nfunction safePathSegment(s) {\n  return String(s || '').replace(/[\\\\/:*?\"<>|\\x00-\\x1f]/g, '_').substring(0, 100);\n}\n\nfunction cleanLeadingDigits(name) {\n  const noExt = name.replace(/\\.[^.]+$/, '');\n  const cleaned = noExt.replace(/^[\\s\\-_.()【】]+/, '').trim();\n  return cleaned || noExt;\n}\n\nfunction filterPrintable(text) {\n  if (!text || typeof text !== 'string') return '';\n  const printableMatches = text.match(/[\\u4e00-\\u9fff\\u3000-\\u303f\\uff00-\\uffefa-zA-Z0-9\\s.,!?;:()\\[\\]{}\\-+=\"'\\/_*&%$#@~|<>]/g);\n  const ratio = printableMatches ? printableMatches.length / text.length : 0;\n  return ratio > 0.7 ? text.substring(0, 800) : '';\n}\n\nfunction classifyByFilename(name, ext) {\n  const n = name.toLowerCase();\n  const e = (ext || '').toLowerCase();\n  if (['jpg', 'jpeg', 'png', 'gif', 'webp', 'heic', 'svg', 'bmp', 'tiff'].includes(e)) {\n    return { category: 'images', semanticType: '圖片' };\n  }\n  if (['ppt', 'pptx', 'key'].includes(e) || /簡報|投影片|提案|pitch|proposal|kickoff|deck/i.test(n)) {\n    return { category: 'presentations', semanticType: '簡報' };\n  }\n  if (/合約|協議|nda|授權書|同意書|條款/i.test(n)) return { category: 'contracts', semanticType: '合約' };\n  if (/發票|收據|報價|估價|帳單|對帳|訂單|invoice|quote/i.test(n)) return { category: 'invoices', semanticType: '報價' };\n  if (/會議|紀錄|逐字稿|memo|minutes|meeting/i.test(n)) return { category: 'docs', semanticType: '紀錄' };\n  if (/提示詞|prompt|教材|講義|手冊|教學|課程/i.test(n)) return { category: 'docs', semanticType: '教材' };\n  if (/規格|spec|brief|需求/i.test(n)) return { category: 'docs', semanticType: '規格' };\n  if (/報告|report|分析|analysis/i.test(n)) return { category: 'docs', semanticType: '報告' };\n  return null;\n}\n\nfunction classifyByContent(text) {\n  if (!text || text.length < 30) return null;\n  const t = text.substring(0, 1500).toLowerCase();\n  if (/合約|協議|nda|授權書|同意書|條款|甲方.*乙方|nondisclosure/i.test(t)) return { category: 'contracts', semanticType: '合約' };\n  if (/發票|收據|報價|估價|帳單|對帳|金額.*nt\\$|invoice|quote|稅金/i.test(t)) return { category: 'invoices', semanticType: '報價' };\n  if (/簡報|投影片|提案/i.test(t)) return { category: 'presentations', semanticType: '簡報' };\n  if (/會議|紀錄|memo|minutes|出席|議題|待辦/i.test(t)) return { category: 'docs', semanticType: '紀錄' };\n  if (/提示詞|prompt engineering|教材|講義|教學|課程/i.test(t)) return { category: 'docs', semanticType: '教材' };\n  return null;\n}\n\nfunction smartFallback(name, ext, text) {\n  return classifyByFilename(name, ext) || classifyByContent(text) || { category: 'docs', semanticType: '文件' };\n}\n\nconst CATEGORIES = ['contracts','invoices','presentations','docs','images','others'];\nconst imgExts = ['jpg', 'jpeg', 'png', 'gif', 'webp', 'heic', 'svg', 'bmp', 'tiff'];\n\n// === 預檢 ===\nconst N = allReadItems.length;\nif (N === 0) {\n  const msg = 'client-inbox 是空的，沒有檔案可整理。';\n  return [{\n    json: {\n      originalName: '(empty)',\n      category: 'docs',\n      newName: 'no-files-' + today + '.md',\n      newPath: '/files/shared/client-organized/docs/no-files-' + today + '.md',\n      indexLine: '_(client-inbox 是空的)_',\n      _batchInfo: { inputCount: 0, outputCount: 0, message: msg }\n    },\n    binary: {\n      data: {\n        data: Buffer.from('\\ufeff' + ('# 整理結果\\n\\n' + msg), 'utf-8').toString('base64'),\n        mimeType: 'text/markdown',\n        fileName: 'no-files.md'\n      }\n    }\n  }];\n}\n\n// === 動態調整 chunk size 與 throttle ===\nconst CHUNK_SIZE = N >= 30 ? 8 : 5;\nconst INTER_CHUNK_DELAY = 7000;\nconst RETRY_429_WAIT = 60000;\n\n// === 建 fileName → 內文查表（從 post-Extract items）===\nconst textMap = new Map();\nfor (const it of items) {\n  const fn = it.binary?.data?.fileName;\n  if (!fn) continue;\n  const t = it.json?.text ?? it.json?.data;\n  if (t != null) textMap.set(fn, t);\n}\n\n// === Phase 1：迭代 Read 原始 items（保證 100% 不漏）+ 圖檔直送 ===\nconst processed = [];\nfor (let i = 0; i < N; i++) {\n  const readItem = allReadItems[i];\n  if (!readItem?.binary?.data) continue;\n\n  const originalName = readItem.json.fileName || ('unknown-' + (i + 1));\n  const fileExt = (readItem.json.fileExtension || '').toLowerCase();\n  const fileSize = readItem.binary.data.fileSize || 0;\n  const rawText = textMap.get(originalName) ?? '';\n  const usableText = filterPrintable(rawText);\n\n  const base = {\n    idx: i, originalName, fileExt, fileSize, usableText, binary: readItem.binary,\n    category: null, newName: null, aiUsed: false, aiError: null, ruleHit: null\n  };\n\n  if (imgExts.includes(fileExt)) {\n    base.category = 'images';\n    base.newName = today + '_圖片_' + cleanLeadingDigits(originalName);\n    base.ruleHit = 'image-by-ext';\n  }\n\n  processed.push(base);\n}\n\n// === Phase 2：批次 AI 呼叫 ===\nconst needsAI = processed.filter(p => !p.category);\nconst chunks = [];\nfor (let i = 0; i < needsAI.length; i += CHUNK_SIZE) chunks.push(needsAI.slice(i, i + CHUNK_SIZE));\n\nconst t0 = Date.now();\nconst batchInfo = {\n  inputCount: N,\n  extractedCount: textMap.size,\n  imageDirectCount: processed.filter(p => p.category === 'images').length,\n  needsAICount: needsAI.length,\n  outputCount: 0,\n  dedupCount: 0,\n  chunks: chunks.length,\n  chunkSize: CHUNK_SIZE,\n  aiCalls: 0,\n  totalMs: 0,\n  batchErrors: [],\n  aiSucceeded: 0,\n  ruleFallback: 0,\n  warnings: []\n};\n\nif (N > 50) batchInfo.warnings.push('輸入 ' + N + ' 檔超過 50，跑時較長 + 可能撞 Gemini RPM 限速。建議分批');\nif (N > 200) batchInfo.warnings.push('輸入 ' + N + ' 檔超過 200，可能撞 n8n 300s task timeout');\n\nasync function callGeminiBatch(chunk) {\n  const filesPart = chunk.map((f, idx) => {\n    const docxHint = ['docx', 'xlsx', 'pptx'].includes(f.fileExt) ? '\\n注意：Office 檔（' + f.fileExt + '）無內文，請用檔名分類' : '';\n    const contentPart = f.usableText ? '\\n內容摘要：' + f.usableText : '\\n（無法擷取內文，憑檔名分類）';\n    return '<檔案 ' + (idx + 1) + '>\\n檔名：' + f.originalName + '\\n副檔名：' + f.fileExt + docxHint + contentPart + '\\n</檔案 ' + (idx + 1) + '>';\n  }).join('\\n\\n');\n\n  const prompt = '你是檔案歸檔助手。對下面 ' + chunk.length + ' 份檔案分類成 6 類之一，並取語意化檔名。\\n\\n' +\n    '**類別**（看不出明確類型優先 docs；only fallback 到 others 在真的什麼都不像）：\\n' +\n    '- contracts：合約 / NDA / 條款 / 授權書\\n' +\n    '- invoices：發票 / 收據 / 報價單 / 估價單 / 帳單\\n' +\n    '- presentations：簡報 / 投影片 / 提案 / pitch deck\\n' +\n    '- docs：所有文字內容文件（手冊 / 筆記 / 會議記錄 / 教材 / 講義 / 報告 / 任何 .txt/.md/.docx）\\n' +\n    '- images：圖片 / 截圖\\n' +\n    '- others：真的什麼都不像才選\\n\\n' +\n    '**重要：保留檔名中的數字編號 + 區分標記**\\n' +\n    '檔名有 01/02/03、v1/v2、Q3、_LLM 等區分 token 時必須保留，避免命名衝突。\\n\\n' +\n    '**範例**：\\n' +\n    '- 合約_NDA_客戶A.pdf → {\"category\":\"contracts\",\"newName\":\"' + today + '_合約_客戶A NDA\"}\\n' +\n    '- Q3-報價單.pdf → {\"category\":\"invoices\",\"newName\":\"' + today + '_報價_Q3\"}\\n' +\n    '- 客戶提案v3.pptx → {\"category\":\"presentations\",\"newName\":\"' + today + '_簡報_客戶提案v3\"}\\n' +\n    '- 中小企業AI實務01.pptx → {\"category\":\"presentations\",\"newName\":\"' + today + '_簡報_中小企業AI實務01\"}\\n' +\n    '- 中小企業AI實務02.pptx → {\"category\":\"presentations\",\"newName\":\"' + today + '_簡報_中小企業AI實務02\"}\\n' +\n    '- 通用觀念_LLM.pptx → {\"category\":\"presentations\",\"newName\":\"' + today + '_簡報_通用觀念LLM\"}\\n' +\n    '- 01提示詞基礎.docx → {\"category\":\"docs\",\"newName\":\"' + today + '_教材_提示詞基礎01\"}\\n' +\n    '- 虛擬會議逐字稿.docx → {\"category\":\"docs\",\"newName\":\"' + today + '_紀錄_虛擬會議逐字稿\"}\\n\\n' +\n    '**輸出規則**：嚴格只回 JSON array，array 順序與輸入順序一致，array 長度必須 = ' + chunk.length + '。\\n' +\n    '不要 markdown 包裹。\\n\\n' +\n    '格式：[{\"category\":\"xxx\",\"newName\":\"' + today + '_類型_關鍵字\"}, ...]\\n\\n' +\n    filesPart;\n\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent',\n    headers: { 'Content-Type': 'application/json', 'x-goog-api-key': GEMINI_API_KEY },\n    body: {\n      contents: [{ role: 'user', parts: [{ text: prompt }] }],\n      generationConfig: { temperature: 0.2, maxOutputTokens: 2000, thinkingConfig: { thinkingBudget: 0 } }\n    },\n    json: true,\n    timeout: 60000\n  });\n  const aiResp = response.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  const cleaned = aiResp.replace(/^```\\w*\\n?/, '').replace(/\\n?```$/, '').trim();\n  const m = cleaned.match(/\\[[\\s\\S]*\\]/);\n  if (!m) throw new Error('no JSON array in AI response: ' + cleaned.substring(0, 200));\n  const arr = JSON.parse(m[0]);\n  if (!Array.isArray(arr)) throw new Error('AI response is not an array');\n  return arr;\n}\n\nfor (let cIdx = 0; cIdx < chunks.length; cIdx++) {\n  if (cIdx > 0) await sleep(INTER_CHUNK_DELAY);\n\n  const chunk = chunks[cIdx];\n  let arr = null;\n  let lastError = null;\n\n  for (let attempt = 0; attempt < 2; attempt++) {\n    batchInfo.aiCalls++;\n    try {\n      arr = await callGeminiBatch(chunk);\n      lastError = null;\n      break;\n    } catch (err) {\n      lastError = err.message || String(err);\n      if (lastError.includes('429') && attempt === 0) {\n        await sleep(RETRY_429_WAIT);\n        continue;\n      }\n      break;\n    }\n  }\n\n  if (lastError) batchInfo.batchErrors.push('chunk ' + cIdx + ': ' + lastError.substring(0, 100));\n\n  // Per-file fallback：每檔獨立判，AI 失敗也單獨 rule 救\n  for (let j = 0; j < chunk.length; j++) {\n    const f = chunk[j];\n    const r = arr && arr[j] ? arr[j] : null;\n    if (r && CATEGORIES.includes(r.category)) {\n      f.category = r.category;\n      f.newName = r.newName || (today + '_' + cleanLeadingDigits(f.originalName));\n      f.aiUsed = true;\n      batchInfo.aiSucceeded++;\n    } else {\n      f.aiError = lastError || 'AI returned invalid for index ' + j;\n      const rule = smartFallback(f.originalName, f.fileExt, f.usableText);\n      f.category = rule.category;\n      f.newName = today + '_' + rule.semanticType + '_' + cleanLeadingDigits(f.originalName);\n      f.ruleHit = 'rule:' + rule.semanticType;\n      f.aiUsed = false;\n      batchInfo.ruleFallback++;\n    }\n  }\n}\n\nbatchInfo.totalMs = Date.now() - t0;\n\n// === Phase 3：dedup + format final results ===\nconst seenNewNames = new Map();\nconst results = [];\n\nfor (let i = 0; i < processed.length; i++) {\n  const f = processed[i];\n  if (!f.category) f.category = 'docs';\n  if (!f.newName) f.newName = today + '_文件_' + cleanLeadingDigits(f.originalName);\n\n  let bareName = safePathSegment(f.newName);\n  if (!bareName.match(/^\\d{8}_/)) bareName = today + '_' + bareName;\n  bareName = bareName.replace(/\\.[a-z0-9]{2,5}$/i, '');\n\n  const key = f.category + '/' + bareName;\n  let finalName = bareName;\n  if (seenNewNames.has(key)) {\n    const count = seenNewNames.get(key) + 1;\n    seenNewNames.set(key, count);\n    finalName = bareName + '_' + count;\n    batchInfo.dedupCount++;\n  } else {\n    seenNewNames.set(key, 1);\n  }\n\n  if (f.fileExt) finalName = finalName + '.' + f.fileExt;\n\n  const out = {\n    json: {\n      originalName: f.originalName,\n      category: f.category,\n      newName: finalName,\n      newPath: '/files/shared/client-organized/' + f.category + '/' + finalName,\n      indexLine: '- **' + f.category + '** · ' + finalName + ' ← ' + f.originalName + (f.aiUsed ? '' : ' _(rule)_'),\n      aiUsed: f.aiUsed,\n      aiError: f.aiError,\n      ruleHit: f.ruleHit,\n      fileSize: f.fileSize\n    },\n    binary: f.binary\n  };\n  results.push(out);\n}\n\nbatchInfo.outputCount = results.length;\nif (results.length > 0) results[0].json._batchInfo = batchInfo;\n\nreturn results;"
      },
      "id": "ai-10",
      "name": "Code: AI 分類 + 命名",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        300
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.newPath }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "write-10",
      "name": "Write: 移到分類資料夾",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1300,
        240
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "indexLine"
            },
            {
              "fieldToAggregate": "category"
            }
          ]
        },
        "options": {}
      },
      "id": "agg-10",
      "name": "Aggregate index lines",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1300,
        380
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const data = $input.first().json;\nconst lines = data.indexLine || [];\nconst cats = data.category || [];\nconst total = lines.length;\nconst counts = {};\nfor (const c of cats) counts[c] = (counts[c] || 0) + 1;\n\nconst today = new Date().toISOString().slice(0, 10);\nconst markdown = '# 客戶資料夾整理交接包 · ' + today + '\\n\\n' +\n  '總共整理 ' + total + ' 份檔案。\\n\\n' +\n  '## 分類統計\\n' + Object.entries(counts).map(([k, v]) => '- ' + k + '：' + v + ' 份').join('\\n') + '\\n\\n' +\n  '## 檔案清單\\n' + lines.join('\\n') + '\\n\\n' +\n  '---\\n_自動產生於 ' + new Date().toLocaleString('zh-TW') + '_';\n\nconst tgMsg = '✅ 客戶資料夾整理完成\\n\\n' +\n  '總計：' + total + ' 份\\n' +\n  Object.entries(counts).map(([k, v]) => k + '：' + v).join(' / ') + '\\n\\n' +\n  '完整清單：shared/client-organized/_index.md';\n\nreturn [{\n  json: { tgMsg, indexPath: '/files/shared/client-organized/_index.md', total },\n  binary: {\n    data: {\n      data: Buffer.from('\\ufeff' + (markdown), 'utf-8').toString('base64'),\n      mimeType: 'text/markdown',\n      fileName: '_index.md'\n    }\n  }\n}];"
      },
      "id": "code-index-10",
      "name": "Code: 組 Markdown index + 通知",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        380
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.indexPath }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "write-index-10",
      "name": "Write: _index.md",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1740,
        320
      ]
    },
    {
      "parameters": {
        "chatId": "__TELEGRAM_CHAT_ID__",
        "text": "={{ $json.tgMsg }}",
        "additionalFields": {}
      },
      "id": "tg-10",
      "name": "Telegram 通知",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1740,
        440
      ],
      "credentials": {
        "telegramApi": {
          "id": "lite-pack-telegram",
          "name": "Lite Pack · Telegram Bot"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read 所有檔案",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read 所有檔案": {
      "main": [
        [
          {
            "node": "Switch: 3-way 副檔名分流",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: 3-way 副檔名分流": {
      "main": [
        [
          {
            "node": "Extract PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract 純文字",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: AI 分類 + 命名",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF": {
      "main": [
        [
          {
            "node": "Code: AI 分類 + 命名",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract 純文字": {
      "main": [
        [
          {
            "node": "Code: AI 分類 + 命名",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: AI 分類 + 命名": {
      "main": [
        [
          {
            "node": "Write: 移到分類資料夾",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate index lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate index lines": {
      "main": [
        [
          {
            "node": "Code: 組 Markdown index + 通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: 組 Markdown index + 通知": {
      "main": [
        [
          {
            "node": "Write: _index.md",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram 通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "lite-pack-10-folder-organize",
  "tags": [
    {
      "name": "lite-pack",
      "id": "tag-lite-pack"
    },
    {
      "name": "module-3",
      "id": "tag-module-3"
    }
  ]
}