courses/n8n/assets/n8n-lite-pack/workflows/12-knowledge-rag.json
{
  "name": "12 · 本地知識庫問答",
  "meta": {
    "_litePackNote": "v1.1：Part A 加 3-way Switch + filterPrintable，office/binary 不索引避免亂碼。"
  },
  "nodes": [
    {
      "parameters": {
        "content": "## #12 本地知識庫問答（v1.1）\n\n**目的**：公司 SOP / 講義 / 合約 / FAQ → 問問題 AI 從文件找答案 + 標來源。\n\n**v1.1 修補**：Part A 加 3-way Switch + filterPrintable\n- .pdf → Extract PDF（pdfjs 解析）\n- .txt/.md/.csv/.json/.log/.xml/.html/.rtf → Extract 純文字\n- **其他（.docx/.pptx/.xlsx/圖檔）→ Drop 不索引**（避免亂碼污染 jsonl）\n\n修 v1.0 學員把 .docx 等放進 knowledge-docs 時 jsonl 含亂碼導致問答 500 bug。\n\n**3 條鏈**（同一個 workflow）：\n\n**Part A：建索引**（Manual Trigger）\n點 Manual: 建索引 → Execute → knowledge-index.jsonl 生出\n看 Code 切 chunk 節點的 _stats：indexed / skipped / totalChunks\n\n**Part B：問答 API**（Webhook POST /webhook/kb-ask）\nPOST 含 {\"question\": \"...\"} → 回 JSON 含 answer + sources\n\n**Part C：問答 UI**（Webhook GET /webhook/kb-ui）\n瀏覽器開 → 表單頁 → 輸入問題 → 答覆 + 來源\n\n**測試流程**：\n1. 把 .md/.txt/.pdf 丟進 knowledge-docs/（**.docx/.pptx 會被略過**，先轉 PDF 或匯出 .md）\n2. 點 Manual: 建索引 → Execute Workflow（test mode 就行）\n3. 看 _stats 確認 indexed > 0\n4. workflow 點右上 **Publish**（不是「Active toggle」— 新版 n8n 改用 Publish 流程）\n5. 瀏覽器開 http://localhost:5678/webhook/kb-ui → 問問題 → 答覆\n\n**簡化說明**：窮人版 RAG，用關鍵字 match 取代 embeddings。",
        "height": 760,
        "width": 380
      },
      "id": "sticky-12",
      "name": "📌 使用說明",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -280,
        0
      ]
    },
    {
      "parameters": {},
      "id": "trigger-index",
      "name": "Manual: 建索引",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        200
      ]
    },
    {
      "parameters": {
        "fileSelector": "/files/shared/knowledge-docs/*",
        "options": {}
      },
      "id": "read-index",
      "name": "Read 知識文件",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        440,
        200
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "extract-index",
      "name": "Extract 純文字",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        860,
        280
      ],
      "onError": "continueRegularOutput",
      "notes": "operation:text — 只接純文字 ext"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// v1.1：從 allReadItems 迭代 + textMap 查表 + filterPrintable 過濾亂碼\n\nconst items = $input.all();\nconst allReadItems = $('Read 知識文件').all();\n\nfunction filterPrintable(text) {\n  if (!text || typeof text !== 'string') return '';\n  const printableMatches = text.match(/[\\u4e00-\\u9fff\\u3000-\\u303f\\uff00-\\uffefa-zA-Z0-9\\s.,!?;:()\\[\\]{}\\-+=\"'\\/_*&%$#@~|<>\\n]/g);\n  const ratio = printableMatches ? printableMatches.length / text.length : 0;\n  return ratio > 0.7 ? text : '';\n}\n\nconst textMap = new Map();\nfor (const it of items) {\n  const fn = it.binary?.data?.fileName;\n  if (!fn) continue;\n  const t = it.json?.text ?? it.json?.data;\n  if (t != null) textMap.set(fn, String(t));\n}\n\nconst chunks = [];\nconst stats = { totalFiles: allReadItems.length, indexed: 0, skipped: 0, totalChunks: 0 };\n\nfor (let i = 0; i < allReadItems.length; i++) {\n  const readItem = allReadItems[i];\n  if (!readItem?.binary?.data) { stats.skipped++; continue; }\n\n  const fileName = readItem.json.fileName || ('unknown-' + (i + 1));\n  const rawText = textMap.get(fileName) ?? '';\n  const cleanText = filterPrintable(rawText);\n\n  if (!cleanText || cleanText.length < 50) {\n    stats.skipped++;\n    continue;\n  }\n\n  stats.indexed++;\n  const size = 500, overlap = 50;\n  for (let p = 0; p < cleanText.length; p += (size - overlap)) {\n    const chunk = cleanText.substring(p, p + size).trim();\n    if (chunk.length < 50) continue;\n    chunks.push({ source: fileName, pos: p, text: chunk, indexedAt: new Date().toISOString() });\n  }\n}\n\nstats.totalChunks = chunks.length;\nconst jsonl = chunks.map(c => JSON.stringify(c)).join('\\n');\n\nreturn [{\n  json: { chunkCount: chunks.length, indexPath: '/files/shared/knowledge-index/knowledge-index.jsonl', _stats: stats },\n  binary: { data: { data: Buffer.from(jsonl).toString('base64'), mimeType: 'application/jsonl', fileName: 'knowledge-index.jsonl' } }\n}];"
      },
      "id": "code-chunk",
      "name": "Code: 切 chunk + 組 JSONL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        200
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.indexPath }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "write-index",
      "name": "Write 索引",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1080,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kb-ask",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-ask",
      "name": "Webhook: kb-ask",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        460
      ],
      "webhookId": "lite-pack-12-kb-ask"
    },
    {
      "parameters": {
        "fileSelector": "/files/shared/knowledge-index/knowledge-index.jsonl",
        "options": {}
      },
      "id": "read-existing-index",
      "name": "Read 索引檔",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        440,
        460
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// 關鍵字 match + AI 生答（窮人版 RAG）\nconst GEMINI_API_KEY = '__GEMINI_API_KEY__';\nconst question = $('Webhook: kb-ask').first().json.body?.question || $('Webhook: kb-ask').first().json.query?.question || '請告訴我你能回答什麼？';\n\n// 讀 JSONL 索引\nconst indexFile = $input.first().binary?.data?.data || '';\nconst jsonlText = Buffer.from(indexFile, 'base64').toString('utf-8');\nconst chunks = jsonlText.split('\\n').filter(l => l).map(l => JSON.parse(l));\n\n// 關鍵字 score（簡化版：question 的字 vs chunk 的 overlap）\nconst qWords = question.split(/[\\s，。？！,\\.\\?]/).filter(w => w.length >= 2);\nconst scored = chunks.map(c => ({\n  ...c,\n  score: qWords.reduce((s, w) => s + (c.text.includes(w) ? 1 : 0), 0)\n})).filter(c => c.score > 0).sort((a, b) => b.score - a.score).slice(0, 5);\n\nif (scored.length === 0) {\n  return [{ json: { answer: '知識庫內找不到相關內容。請改問其他問題或重建索引。', sources: [], question } }];\n}\n\n// 餵給 Gemini\nconst context = scored.map((c, i) => '[' + (i+1) + '] (' + c.source + ')\\n' + c.text).join('\\n\\n');\nconst prompt = '你是企業知識庫問答助手。根據下面 context 回答用戶問題（繁體中文）。如果 context 不足以回答，誠實說「資料庫內無此資訊」。每段答覆引用來源編號 [1] [2] 等。\\n\\n<question>' + question + '</question>\\n\\n<context>\\n' + context + '\\n</context>';\n\nlet answer = '';\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent',\n    headers: { 'Content-Type': 'application/json', 'x-goog-api-key': GEMINI_API_KEY },\n    body: {\n      contents: [{ role: 'user', parts: [{ text: prompt }] }],\n      generationConfig: { temperature: 0.4, maxOutputTokens: 800, thinkingConfig: { thinkingBudget: 0 } }\n    },\n    json: true,\n    timeout: 60000\n  });\n  answer = response.candidates?.[0]?.content?.parts?.[0]?.text || 'AI 無回應';\n} catch (err) {\n  answer = '查詢失敗：' + (err.message || err);\n}\n\nreturn [{\n  json: {\n    question, answer,\n    sources: scored.map((c, i) => ({ ref: i+1, file: c.source, snippet: c.text.substring(0, 100) }))\n  }\n}];"
      },
      "id": "code-rag",
      "name": "Code: 檢索 + AI 生答",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        460
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "k-1",
              "name": "status",
              "value": "ok",
              "type": "string"
            },
            {
              "id": "k-2",
              "name": "question",
              "value": "={{ $json.question }}",
              "type": "string"
            },
            {
              "id": "k-3",
              "name": "answer",
              "value": "={{ $json.answer }}",
              "type": "string"
            },
            {
              "id": "k-4",
              "name": "sources",
              "value": "={{ $json.sources }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "respond-12",
      "name": "Respond: 回答 + 來源",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        460
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "kb-ui",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-ui",
      "name": "Webhook UI: GET /kb-ui",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        720
      ],
      "webhookId": "lite-pack-12-kb-ui"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Auto-generated by inject_web_ui.py — 不要直接改這裡的 HTML，改 web-ui/12-kb-ui.html 後重 inject\nconst html = `<!DOCTYPE html>\n<html lang=\"zh-TW\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>知識庫問答 · Lite Pack</title>\n<link href=\"https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;700&family=Noto+Sans+TC:wght@400;500;700&display=swap\" rel=\"stylesheet\">\n<style>\n  *,*::before,*::after{box-sizing:border-box;margin:0;padding:0}\n  body{font-family:'Noto Sans TC',sans-serif;background:#f5f3ee;color:#2c2b28;line-height:1.7;min-height:100vh;padding:48px 24px}\n  .container{max-width:760px;margin:0 auto}\n  .eyebrow{font-size:.72rem;color:#b5703a;letter-spacing:1.5px;font-weight:500;margin-bottom:10px}\n  h1{font-family:'Shippori Mincho',serif;font-size:1.8rem;font-weight:700;border-bottom:1px solid #d8d4cb;padding-bottom:14px;margin-bottom:14px}\n  .sub{color:#7a766d;font-size:.92rem;margin-bottom:32px}\n  textarea{width:100%;min-height:110px;padding:14px 16px;border:1px solid #d8d4cb;border-radius:6px;font-size:1rem;font-family:inherit;background:#fff;color:#2c2b28;resize:vertical}\n  textarea:focus{outline:none;border-color:#5a7a5a}\n  .hint{font-size:.78rem;color:#bcb8ae;margin-top:6px}\n  button{padding:11px 32px;background:#5a7a5a;color:white;border:none;border-radius:6px;cursor:pointer;font-size:.95rem;font-weight:500;margin-top:14px;font-family:inherit}\n  button:hover{background:#4a6a4a}\n  button:disabled{opacity:.5;cursor:not-allowed}\n  .result{margin-top:36px;padding:24px;background:#fff;border:1px solid #e8e4da;border-radius:6px;display:none}\n  .result.show{display:block}\n  .result-q{font-size:.85rem;color:#7a766d;margin-bottom:12px;border-bottom:1px dashed #e8e4da;padding-bottom:10px}\n  .result-a{font-size:.95rem;line-height:1.85}\n  .sources{margin-top:24px;padding-top:16px;border-top:1px solid #e8e4da}\n  .sources-label{font-size:.75rem;color:#b5703a;letter-spacing:1px;font-weight:600;margin-bottom:10px}\n  .source-item{font-size:.82rem;color:#7a766d;line-height:1.7;margin-bottom:8px}\n  .source-ref{display:inline-block;width:24px;height:24px;background:#edeae3;border-radius:50%;text-align:center;line-height:24px;font-size:.72rem;color:#5a7a5a;font-weight:600;margin-right:8px;font-family:'SF Mono',monospace}\n  .source-file{font-weight:500;color:#2c2b28}\n  .loading{color:#7a766d;font-style:italic}\n  .error{color:#c14a3a;background:#faf0ee;padding:14px;border-radius:6px;border:1px solid #e8d4d0}\n  .examples{margin-top:24px;display:flex;gap:8px;flex-wrap:wrap}\n  .ex-chip{font-size:.78rem;color:#7a766d;border:1px solid #d8d4cb;background:#fff;padding:5px 12px;border-radius:99px;cursor:pointer;font-family:inherit}\n  .ex-chip:hover{color:#5a7a5a;border-color:#5a7a5a}\n  .footer{margin-top:48px;padding-top:24px;border-top:1px solid #e8e4da;font-size:.78rem;color:#bcb8ae;text-align:center}\n</style>\n</head>\n<body>\n<div class=\"container\">\n  <div class=\"eyebrow\">LITE PACK · #12</div>\n  <h1>📚 知識庫問答</h1>\n  <p class=\"sub\">問問題，AI 從 <code style=\"background:#edeae3;padding:2px 6px;border-radius:3px;font-size:.85rem;\">knowledge-docs/</code> 內的文件找答案 + 標來源。</p>\n\n  <textarea id=\"q\" placeholder=\"輸入你的問題...\"></textarea>\n  <p class=\"hint\">Ctrl/Cmd + Enter 快速送出</p>\n\n  <div class=\"examples\">\n    <button class=\"ex-chip\" onclick=\"setQ('退款政策是什麼？')\">退款政策是什麼？</button>\n    <button class=\"ex-chip\" onclick=\"setQ('n8n 跟 Make 差別？')\">n8n 跟 Make 差別？</button>\n    <button class=\"ex-chip\" onclick=\"setQ('創辦人是誰？')\">創辦人是誰？</button>\n    <button class=\"ex-chip\" onclick=\"setQ('A 公司的客戶案例？')\">A 公司的客戶案例？</button>\n  </div>\n\n  <button id=\"askBtn\" onclick=\"ask()\">問</button>\n\n  <div id=\"result\" class=\"result\"></div>\n\n  <div class=\"footer\">\n    <strong>使用前確認</strong>：① 已跑過 Part A（建索引）② 此 workflow Active = ON（不然 webhook 不接受 production POST）<br>\n    POST endpoint：<code>/webhook/kb-ask</code> · GET 此頁面：<code>/webhook/kb-ui</code>\n  </div>\n</div>\n\n<script>\nfunction setQ(s){document.getElementById('q').value=s;}\nfunction escapeHtml(s){return String(s).replace(/[<>&\"']/g,c=>({'<':'&lt;','>':'&gt;','&':'&amp;','\"':'&quot;',\"'\":'&#39;'}[c]))}\n\nasync function ask(){\n  const q=document.getElementById('q').value.trim();\n  if(!q){return;}\n  const btn=document.getElementById('askBtn');\n  const result=document.getElementById('result');\n  btn.disabled=true;btn.textContent='思考中...';\n  result.classList.add('show');\n  result.innerHTML='<div class=\"loading\">查詢知識庫中...</div>';\n\n  try{\n    const r=await fetch('/webhook/kb-ask',{\n      method:'POST',\n      headers:{'Content-Type':'application/json'},\n      body:JSON.stringify({question:q})\n    });\n    if(!r.ok){throw new Error('HTTP '+r.status+' — 確認 #12 workflow Active = ON');}\n    const data=await r.json();\n\n    let html='<div class=\"result-q\"><strong>Q：</strong>'+escapeHtml(data.question||q)+'</div>';\n    html+='<div class=\"result-a\">'+escapeHtml(data.answer||'無答覆').replace(/\\\\n/g,'<br>')+'</div>';\n    if(data.sources&&data.sources.length){\n      html+='<div class=\"sources\"><div class=\"sources-label\">引用來源</div>';\n      data.sources.forEach(s=>{\n        html+='<div class=\"source-item\"><span class=\"source-ref\">'+s.ref+'</span><span class=\"source-file\">'+escapeHtml(s.file)+'</span><br>';\n        html+='<span style=\"margin-left:32px;color:#bcb8ae;\">'+escapeHtml(s.snippet||'')+'</span></div>';\n      });\n      html+='</div>';\n    }\n    result.innerHTML=html;\n  }catch(e){\n    result.innerHTML='<div class=\"error\"><strong>錯誤：</strong>'+escapeHtml(e.message)+'</div>';\n  }\n  btn.disabled=false;btn.textContent='問';\n}\n\ndocument.getElementById('q').addEventListener('keydown',e=>{\n  if((e.ctrlKey||e.metaKey)&&e.key==='Enter'){ask();}\n});\n</script>\n</body>\n</html>\n`;\nreturn [{ json: { html } }];"
      },
      "id": "code-html-ui",
      "name": "Code: 組 HTML (kb-ui)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        720
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "respond-ui",
      "name": "Respond UI: HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        680,
        720
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($binary.data.fileExtension || '').toLowerCase() }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ ['txt','md','csv','log','json','yml','yaml','xml','html','rtf'].includes(($binary.data.fileExtension || '').toLowerCase()) }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "純文字"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Drop（不索引）"
        }
      },
      "id": "switch-12",
      "name": "Switch: 3-way 副檔名分流",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        640,
        200
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "extract-pdf-12",
      "name": "Extract PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        860,
        120
      ]
    }
  ],
  "connections": {
    "Manual: 建索引": {
      "main": [
        [
          {
            "node": "Read 知識文件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read 知識文件": {
      "main": [
        [
          {
            "node": "Switch: 3-way 副檔名分流",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: 切 chunk + 組 JSONL": {
      "main": [
        [
          {
            "node": "Write 索引",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: kb-ask": {
      "main": [
        [
          {
            "node": "Read 索引檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read 索引檔": {
      "main": [
        [
          {
            "node": "Code: 檢索 + AI 生答",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: 檢索 + AI 生答": {
      "main": [
        [
          {
            "node": "Respond: 回答 + 來源",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook UI: GET /kb-ui": {
      "main": [
        [
          {
            "node": "Code: 組 HTML (kb-ui)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: 組 HTML (kb-ui)": {
      "main": [
        [
          {
            "node": "Respond UI: HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: 3-way 副檔名分流": {
      "main": [
        [
          {
            "node": "Extract PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract 純文字",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF": {
      "main": [
        [
          {
            "node": "Code: 切 chunk + 組 JSONL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract 純文字": {
      "main": [
        [
          {
            "node": "Code: 切 chunk + 組 JSONL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "lite-pack-12-knowledge-rag",
  "tags": [
    {
      "name": "lite-pack",
      "id": "tag-lite-pack"
    },
    {
      "name": "module-3",
      "id": "tag-module-3"
    }
  ]
}